<div class="note-border" [class.selected-note]="selectedNote === note">
    <div class="note-wrapper"></div>
    <div class="left" (mouseup)="onSelectNote(note)">
        <div class="item" (mouseup)="onSelectNote(note)">
            <div class="note-text" [class.pinned-note-text]="note.pinned">
                {{ note | noteTitleTruncate: '20' : true }}
            </div>
        </div>

        <small
            (mouseup)="onSelectNote(note)"
            [class.pinned-note-text]="note.pinned"
            class="date-modified date-text"
            [appTooltip]="'Last Modified - ' + (note.date_modified | date: 'EEE, MMM d yyyy hh:mm:ss a')">
            {{ note.local_date_modified ?? note.date_modified | dateago }}
        </small>
    </div>
    <div class="right">
        @if (!note.sync) {
            <div
                class="svg-wrap"
                (mouseup)="onSyncNote()"
                animate.leave="leaving"
                animate.enter="enter-animation">
                <svg
                    [class.note-syncing]="note.sync"
                    class="sync-false"
                    width="800px"
                    height="800px"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill="var(--ci-primary-color, #000000)"
                        d="m87.879 64.796v41.912h44.882c-43.004 35.572-70.47 89.311-70.47 149.29 0 96.14 70.565 176.25 162.58 191.2v-42.578c-69.055-14.29-120.66-75.22-120.66-148.63 0-57.571 31.743-107.47 78.75-133.21v78.994h41.912v-94.411-.665-41.912h-41.912-95.075zm199.26 0v42.578c69.055 14.29 120.66 75.22 120.66 148.63 0 57.571-31.743 107.47-78.75 133.21v-79.659h-41.912v95.076 41.912.665c1.285-.20888 2.566-.43084 3.8425-.665h38.07 95.075v-41.912h-44.082c42.544-35.575 69.67-89.019 69.67-148.63 0-96.14-70.565-176.25-162.58-191.2z" />
                </svg>
            </div>
        }

        @if (note.readonly) {
            <app-svg-icon
                height="23"
                width="23"
                (mouseup)="onToggleReadonly(note)"
                [class]="'readonly'"
                src="assets/images/lock.svg" />
        }

        <div class="note-actions" [class.disabled]="!permission" [class.actions-readonly]="note.readonly">
            <app-svg-icon
                height="25"
                width="25"
                (mouseup)="onSpellCheckToggle(note)"
                [class]="note.spell_check ? 'spell-check-active' : 'spell-check'"
                src="assets/images/spell.svg" />

            <div class="menu del-button">
                <app-svg-icon
                    height="23"
                    width="23"
                    (mouseup)="onArchiveNote(note)"
                    class="archive-note-icon"
                    src="assets/images/archive.svg" />
            </div>

            <div class="pin-wrapper" (mouseup)="updatePinOrder(note)">
                <svg
                    class="pin"
                    width="800px"
                    height="800px"
                    [class]="note.pinned ? 'pinned' : 'newpin'"
                    viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <polygon
                            points="13 8 11 6 11 3 12 3 12 1 4 1 4 3 5 3 5 6 3 8 3 10 7.3 10 7.3 16 8.7 16 8.7 10 13 10 13 8" />
                    </g>
                </svg>
            </div>

            <div class="note-colour {{ note.colour + '-note' }}"></div>
        </div>
    </div>
</div>
