:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    position: relative;
}

.note-div {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
}

.note-select-info {
    display: flex;
    inset: 0;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    color: var(--secondary);
    width: 100%;
    height: 100%;

    #icon-44-note-text {
        fill: var(--active-list-link-hover);
    }

    svg {
        width: 30%;
        height: 30%;
    }
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    height: 100vh;
    padding: 1rem;
    padding-bottom: 6rem;
    background-color: var(--search-bg);
    border-radius: 8px;
}

.filter {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--filter-border);
    border-radius: 8px;
    background-color: var(--filter-bg);
    box-shadow: 0 2px 4px var(--filter-boxshadow);
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    cursor: pointer;
}

.filter:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    background-color: var(--filter-hover);
}

.note-header {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--body-color);
    margin-bottom: 8px;
}

.note-preview {
    color: var(--body-color);
    font-size: 0.95rem;
    line-height: 1.4;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-menu-fill {
    height: 3rem;
}

.note-outlet {
    position: relative;
    flex: 1 1 auto;
}

.notes-navigation {
    position: relative;
    flex-basis: 20%;
    box-sizing: border-box;
}

.notes-detail {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    box-sizing: border-box;
    outline: 1px solid var(--border);
    z-index: 1;
}

.note-list-item {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    padding-left: 0.75rem;
}

.active-text {
    color: var(--b-active-link-color) !important;
}

.active {
    color: var(--bs-list-group-action-hover-color) !important;
    text-decoration: none;
    background-color: var(--active-list-link);
    border: 1px solid var(--active-list-link-border-color);
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    border-bottom: 2px solid var(--border);
    padding: 1rem;
}

textarea:hover {
    box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
}

textarea:focus {
    box-shadow: 0 5px 12px rgb(0 0 0 / 20%);
    outline: none;
}