:host {
    display: flex;
    flex: 1 1 auto;

    // background: var(--b-note-bg-color);
}

.text-area-wrapper {
    position: relative;
    overflow: hidden auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    // height: calc(100% - 1rem);
    // height: 100%;
    // padding-left: 1.5rem;
    border-bottom: 2px solid var(--border);

    // background: rgb(230,230,230);
    // background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 17%);
}

.text-area {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 0;
}

.text-area::spelling-error {
    // color: blue;
    background-color: #ff000024;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: lightblue;
}

// #textInput ::spelling-error {
//   color: red;
//   text-decoration: underline;
// }

.text-input {
    position: absolute;

    // font-size: 0.85rem;
}

div.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

[contenteditable] {
    outline: 0 solid transparent;
    width: 100%;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 0.85rem;
}

*::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

.custom-scroll {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: var(--bs-primary);
    --scrollbar-hover-size: 12px;
    --scrollbar-track-color: rgb(0 0 0 / 5%);
    --scrollbar-border-radius: 0px;

    // height: 100%;
    // display:block;
}

// :host {
//  ::ng-deep {
//     ng-scrollbar.virtual-scroll {
//       // --scrollbar-size: 8px;
//       // --scrollbar-thumb-color: blue;
//       // --scrollbar-hover-size: 12px;
//       // --scrollbar-track-color: rgba(0, 0, 0, 0.05);
//       // --scrollbar-border-radius: 10px;

//       margin: 1em;
//       // height: 200px;
//       // max-height: 200px;
//       // border-radius: 6px;
//       // border: 1px solid gray;
//       // overflow: hidden;
//     }
//   }
// }
