:host {
    position: sticky;
    top: 0;

    // height: 100%;
    height: calc(100vh - 5rem);
    width: 100%;
    overflow: hidden auto;
    direction: rtl;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    text-align: left;
}

:host::-webkit-scrollbar {
    width: 0.85rem;
}

:host::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

:host::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 0.5rem;
}

:host::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}
