<div [tabIndex]="0" (click)="onBackdropOrButtonClick($event)" id="backDrop">
    <div [@modal] class="movie-dialog" id="scrollWrapper">
        <div class="card" style="">
            <div class="container p-0 pe-5">
                <div class="row">
                    <img
                        class="poster-card-img fade-in"
                        [src]="movieDetail.get_poster_path_w780() ?? imageUrl"
                        [class.poster-img-loaded]="isPosterImageLoaded"
                        (load)="onPosterImageLoaded()"
                        (error)="handleEmptyImage()" />
                    <div class="right-col">
                        <img
                            class="backdrop-img"
                            [src]="movieDetail.get_back_drop_image()"
                            [class.image-loaded]="isBackDropImageLoaded"
                            (load)="onBackDropImageLoaded()"
                            (error)="handleBackdropEmptyImage()" />
                        <div class="right-col-wrapper">
                            <div class="card-body">
                                <div class="card-title">
                                    <div class="title">
                                        {{ movieDetail.title }} ({{
                                            movieDetail.release_date | truncate: '4' : false
                                        }})
                                    </div>

                                    <button
                                        type="button"
                                        id="modalClose"
                                        class="btn-close"
                                        aria-label="Close"
                                        (click)="onBackdropOrButtonClick($event)">
                                        X
                                    </button>
                                </div>
                                <hr />
                                <div class="top">
                                    <div class="actions">
                                        <div class="fav-btn">
                                            @if (isInWatchList | async) {
                                                <button
                                                    class="btn-fav favorite"
                                                    (click)="btnRemoveWatchListClick()">
                                                    ♥
                                                </button>
                                            } @else {
                                                <button class="btn-fav" (click)="btnAddWatchListClick()">
                                                    ♥
                                                </button>
                                            }
                                        </div>

                                        <span class="badge bg-secondary">
                                            {{ movieDetail.original_language | uppercase }}</span
                                        >
                                    </div>

                                    <div class="overview">{{ movieDetail.overview }}</div>
                                </div>
                                <hr />
                                <div class="split">
                                    <div class="left-split">
                                        <table class="detail table table-borderless table-sm">
                                            <tbody>
                                                <tr>
                                                    <td class="detail-lable">Date Released:</td>
                                                    <td class="value">
                                                        <a class="badge bg-secondary nodecoration ms-2">
                                                            {{ movieDetail.release_date }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="detail-lable">Languages Spoken:</td>
                                                    <td class="value">
                                                        @for (
                                                            language of movieDetail.spoken_languages;
                                                            track language
                                                        ) {
                                                            <a class="badge bg-secondary nodecoration ms-2">
                                                                {{
                                                                    language['name']
                                                                        ? language['name']
                                                                        : language['english_name']
                                                                }}
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="detail-lable">Runtime:</td>
                                                    <td class="value">
                                                        <a class="badge bg-secondary nodecoration ms-2">
                                                            {{ movieDetail.runtime }} Minutes
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="detail-lable">Status:</td>
                                                    <td class="value">
                                                        <a class="badge bg-secondary nodecoration ms-2">
                                                            {{ movieDetail.status }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="detail-lable">Genres:</td>
                                                    <td class="value">
                                                        @for (genere of movieDetail.genres; track genere) {
                                                            <a class="badge bg-secondary nodecoration ms-2">
                                                                {{ genere['name'] }}
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="detail-lable">Country:</td>
                                                    <td class="value">
                                                        @for (
                                                            country of movieDetail.origin_country;
                                                            track country
                                                        ) {
                                                            <a class="badge bg-secondary nodecoration ms-2">
                                                                {{ country }}
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right-split">
                                        <app-circular-rating
                                            [voteAverage]="movieDetail.vote_average"
                                            [voteCount]="movieDetail.vote_count"
                                            [size]="90"
                                            [duration]="750"
                                            [animate]="true" />
                                        <div class="votes">{{ movieDetail.vote_count }} Votes &nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews">
                                <div class="review-header">
                                    <div>
                                        <strong>Reviews ({{ movieDetail.reviews.results.length }})</strong>
                                    </div>
                                </div>
                                @if (movieDetail.reviews.results.length) {
                                    <div class="content">
                                        @for (review of movieDetail.reviews.results; track review) {
                                            <li>{{ review.content }}</li>
                                            <hr />
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
