.movie-dialog {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

// .movie-dialog.fade-out {
//   opacity: 0;
// }

.card {
    position: relative; // allows transform animation
    height: 100%;

    // background-color: var(--card-bg);
}

.top {
    display: flex;
    gap: 0.65rem;
}

.actions {
    display: flex;

    // flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.circle-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-lang {
    font-size: 2rem !important;
    padding: 1rem;
}

.card-img-top {
    --bs-card-inner-border-radius: 0px;
}

.row {
    display: flex;
    height: 100%;
    width: 100%;
}

.backdrop-img.image-loaded {
    left: -25%;
    opacity: 0.12;
    transform: scale(1);
}

.right-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.card-body {
    position: relative;
    padding-right: 0.5rem;
}

.backdrop-img {
    width: auto;
    height: 100%;
    opacity: 0;
    left: 0%;
    transform: scale(1.25);
    position: absolute;
    transition:
        left 0.8s ease-in-out,
        opacity 0.5s ease-out,
        transform 0.8s ease-in-out;
}

.right-col {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.right-col-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1rem;
    padding-right: 0;
    padding-bottom: 0;
}

.votes {
    font-size: 1.25rem;
    font-weight: bolder;
}

.reviews {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    justify-content: flex-end;
}

.content {
    // border: 4px solid red;
    // height: 100%;
    overflow-y: scroll;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

li {
    list-style: none;
}

.reviews li {
    // border:2px solid black;
    // background: white;
    padding: 0.5rem;
    padding-left: 0;
    font-size: 0.8rem;

    // opacity: 0.5;
}

.container {
    position: relative;
    height: 100%;
}

.poster-img-loaded {
    max-width: 100% !important;
    opacity: 1 !important;
}

.poster-card-img {
    // width: auto;
    height: 100%;
    max-width: 0; /* Initially collapsed */
    opacity: 0;
    transition:
        max-width 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
}

.badge {
    font-size: 0.85rem;
}

.gen {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.detail-lable {
    font-weight: bolder;
}

.detail {
    padding: 0;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
}

.item {
    flex: 1;
}

.list-group-item {
    display: flex;
    column-gap: 0.5rem;
}

#back-drop {
    position: fixed;
    display: flex;
    align-items: center;
    inset: 0;
    backdrop-filter: blur(10px);

    // align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    filter: blur(0);
    transition:
        opacity 0.3s ease,
        filter 0.1s ease;

    &.closing {
        opacity: 0;
    }
}

#scroll-wrapper {
    position: relative; // allows animation transforms
    width: 75%;
    height: 600px;

    // top: 5%;
    outline: 15px solid var(--card-border-color);
    border-radius: 0.25rem;

    // max-height: 80%;
    background: var(--body-bg);

    // background: linear-gradient(to bottom right, rgba(94.5, 94.5, 73.5, 1), rgba(94.5, 94.5, 73.5, 0.84));

    /* Optional overlay to make text more readable */
    // background-color: rgba(0, 0, 0, 0.4); /* Darkens the image */

    // overflow-y: auto;
    // overflow-x: hidden;
    // padding: 1rem;
    transform-origin: center center; // needed for scale/translate
    transition:
        opacity 0.3s ease,
        filter 0.25s ease;
}

.overview {
    font-weight: bold;

    // font-size: 1.25rem;
}

.btn-close-top {
    position: absolute;
    right: 10px;
}

.list-group-item > a {
    text-decoration: none;
}

.btn-close {
    margin-left: auto;
    z-index: 10;
    align-self: start;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
    align-items: center;
}

.split {
    display: flex;
    flex-direction: row;

    // padding: 1rem 0rem 1rem 0rem;
    gap: 5rem;
    align-items: center;
}

td {
    padding: 0.15rem;
    padding-left: 0;
}

td.value {
    padding-left: 1rem;
    display: flex;
    gap: 0.25rem;
}

:host {
    // border: 1px solid var(--border);
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 5;
}

.watch {
    text-decoration: none;
    color: var(--body-color);
}

.watch:hover {
    color: #2a6ada;
}

app-bookmark {
    align-self: self-start;
}

*::-webkit-scrollbar {
    width: 0.65rem;
    background: white;
}

*::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}