.card {
    background-color: var(--card-bg);
}

.card-img-top {
    --bs-card-inner-border-radius: 0px;
}

.row {
    display: flex;
}

.col-sm-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 30%;
    padding: 1rem;
}

.col-sm-8 {
    flex: 0 0 auto;
    width: 70%;
}

.card-img-top {
    width: 100%;
}

li {
    list-style: none;
}

.badge {
    font-size: 1rem;
}

.gen {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.list-group {
    padding: 0;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
}

.list-group-item {
    display: flex;
    column-gap: 0.5rem;
}

#backDrop {
    height: 100%;
}
#scrollWrapper {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--body-bg);
    outline: 10px solid var(--border);
    box-shadow: 5px 20px 19px -8px var(--bs-primary);
    border-radius: 0.25rem;
}

#modalClose {
}

.btn-close-top {
    position: absolute;
    right: 10px;
}

.list-group-item > a {
    text-decoration: none;
}

.btn-close {
    margin: 1rem;
    position: absolute;
    right: 0;
    z-index: 10;
}

:host {
    border: 1px solid var(--border);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
}

#scrollWrapper::-webkit-scrollbar {
    width: 1rem;
}

#scrollWrapper::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

#scrollWrapper::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 1rem;
}

#scrollWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}
