<nav class="menu">
    <ul>
        <a class="brand" [routerLink]="['/home']">Angular</a>
        @if (IsLoggedIn | async) {
            <div class="menuLoggedIn">
                <li>
                    <a
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/home']"
                        >Home</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: false }"
                        [routerLink]="['/about']"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/profile']"
                        >Profile</a
                    >
                </li>
                <li>
                    <a
                        [ngClass]="{ active: isNotesURLActive }"
                        aria-expanded="false"
                        [routerLink]="['/notes']"
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: false }">
                        Notes
                        @if (NoteLoading | async) {
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        } @else {
                            @if (NotesCount | async; as count) {
                                <span class="badge bg-secondary">{{ count }}</span>
                            }
                        }
                    </a>

                    <ul>
                        <li>
                            <a
                                [routerLink]="['/notes/mynotes']"
                                [routerLinkActive]="['activeLink']"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >Notes</a
                            >
                        </li>
                        <li>
                            <a
                                [routerLink]="['/notes/archived']"
                                [routerLinkActive]="['activeLink']"
                                [routerLinkActiveOptions]="{ exact: false }"
                                >Archived Notes</a
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <a
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: false }"
                        [routerLink]="['/wizard']"
                        >Wizard</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: false }"
                        [routerLink]="['/events']">
                        Events
                        @if (EventLoading | async) {
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        } @else {
                            @if (EventsCount | async; as count) {
                                <span class="badge bg-secondary">{{ count }}</span>
                            }
                        }
                    </a>
                </li>
                <li>
                    <a
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: false }"
                        [routerLink]="['/movies']"
                        >Movies</a
                    >
                    @if (IsLoggedIn | async) {
                        <ul>
                            <li>
                                <a
                                    [routerLink]="['/movies/watchlist']"
                                    [routerLinkActive]="['activeLink']"
                                    [routerLinkActiveOptions]="{ exact: true }"
                                    >Watch List &nbsp;
                                    @if (WatchListCount | async; as count) {
                                        <span class="badge bg-secondary">{{ count }}</span>
                                    }
                                </a>
                            </li>
                        </ul>
                    }
                </li>
            </div>
            @if (permission.IsAdmin) {
                <div class="dashboard">
                    <li>
                        <a
                            [routerLinkActive]="['activeLink']"
                            [routerLinkActiveOptions]="{ exact: true }"
                            [routerLink]="['/admin/dashboard']"
                            >Dashboard</a
                        >
                    </li>
                </div>
                <div class="">
                    <li>
                        <a
                            [routerLinkActive]="['activeLink']"
                            [routerLinkActiveOptions]="{ exact: true }"
                            [routerLink]="['/admin/users']"
                            >Users</a
                        >
                    </li>
                </div>
            }
        }

        <app-userinfo class="userInfo" (signout)="onSignout()"></app-userinfo>
    </ul>
</nav>
