:host {
    z-index: 2;
}

.brand {
    font-size: 1.25rem ! important;
}

.navigationBar {
    padding: 0.75rem;
    background: var(--primary);
    overflow: hidden;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.navigationBar a {
    font-size: 16px;
    color: #ffffff8c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.subnav {
    display: flex;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff8c;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navigationBar a:hover,
.subnav:hover .subnavbtn {
    background-color: var(--primary);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--primary);
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    // float: left;
    color: #ffffff8c;
    text-decoration: none;
}

.subnav-content a:hover {
    color: var(--b-secondary);
}

.subnav:hover .subnav-content {
    display: flex;
    column-gap: 1rem;
    padding: 1rem;
}

.activeLink {
    color: white !important;
}

.userInfo {
    margin-left: auto;
}
