<nav class="navigationBar">
    <a class="brand" [routerLink]="['/']" [routerLinkActive]="['activeLink']">Angular</a>
    @if (IsLoggedIn | async) {
        <a
            [routerLinkActive]="['activeLink']"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/home']"
            >Home</a
        >
        <a
            [routerLinkActive]="['activeLink']"
            [routerLinkActiveOptions]="{ exact: false }"
            [routerLink]="['/about']"
            >About</a
        >
        <a
            [routerLinkActive]="['activeLink']"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/profile']"
            >Profile</a
        >
        <a class="subnav">
            <a
                [ngClass]="{ active: isNotesURLActive }"
                (click)="$event.preventDefault()"
                class="subnavbtn"
                aria-expanded="false"
                [routerLinkActive]="['activeLink']"
                [routerLinkActiveOptions]="{ exact: false }">
                Notes
                @if (NoteLoading | async) {
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                } @else {
                    @if (NotesCount | async; as count) {
                        <span class="badge bg-secondary">{{ count }}</span>
                    }
                }

                <div class="subnav-content">
                    <a
                        [routerLink]="['/mynotes']"
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >Notes</a
                    >
                    <a
                        [routerLink]="['/notes/archived']"
                        [routerLinkActive]="['activeLink']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >Archived Notes</a
                    >
                </div>
            </a>
        </a>
        <a
            [routerLinkActive]="['activeLink']"
            [routerLinkActiveOptions]="{ exact: false }"
            [routerLink]="['/wizard']"
            >Wizard</a
        >
        <a
            [routerLinkActive]="['activeLink']"
            [routerLinkActiveOptions]="{ exact: false }"
            [routerLink]="['/events']">
            Events
            @if (EventLoading | async) {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            } @else {
                @if (EventsCount | async; as count) {
                    <span class="badge bg-secondary">{{ count }}</span>
                }
            }
        </a>
        <a
            [routerLinkActive]="['activeLink']"
            [routerLinkActiveOptions]="{ exact: false }"
            [routerLink]="['/movies']"
            >Movies</a
        >
    }

    <app-userinfo class="userInfo" (signout)="onSignout()"></app-userinfo>
</nav>
