:host {
    z-index: 2;
}

.brand {
    font-size: 1.25rem !important;
    text-decoration: none;
    padding: 0.65rem;
}

.activeLink {
    color: white !important;
}

nav {
    background-color: var(--primary);
}

nav > ul {
    margin: 0;
    padding: 0.25rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    // color: #ffffff8c;
}

nav > ul ul a {
    margin: 0;
    background-color: var(--body-bg);
    color: var(--body-color) !important;
}

nav ul li ul li {
    display: block;
    white-space: nowrap;
}

nav ul li ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff8c;
    transition: background-color 0.3s;
}

nav ul li ul li a:hover {
    background: var(--bg-hover);
}

nav ul li:has(> ul) > a:after {
    /* select element that has ul in them*/
    content: '';
    position: absolute;
    top: 1.2rem;
    right: 0;
    border-left: 3px solid transparent;
    border-right: 4px solid transparent;
    border-top: 3px solid var(--b-secondary);
}

nav ul li ul {
    display: none;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
}

nav ul li:hover ul {
    padding: 0;
    display: block;
}

nav ul li a {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #ffffff8c;
    transition: background-color 0.3s;
}

nav ul li {
    display: inline-block;
    position: relative;
}
