:host {
    // --size: 40px;
    --fill: var(--filter-boxshadow); /* unsaved color */
    // --fill-hover: red; /* hover color */
    --fill-saved: #2a6ada; /* saved state color */
    --fill-hover: var(--fill-saved);

    // --fill-saved: red; /* saved state color */
}

.bookmark-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    width: calc(var(--size) / 1.5);
    height: var(--size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bookmark {
    width: 100%;
    height: 100%;
    background: var(--fill);

    /* true bookmark shape */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    transition:
        background 0.2s ease,
        transform 0.2s ease;
}

/* hover effect */
.bookmark-btn:hover .bookmark {
    background: var(--fill-hover);
    transform: scale(1.1);
}

/* saved state */
.bookmark-btn.saved .bookmark {
    background: var(--fill-saved);
}
