.movie-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 30px;
    justify-content: space-around; /* prevent stretching of last row */
    position: relative;
    padding: 2rem;
}
