@import "./bootstrap_overrides.scss";
@import "../../custom-bootstrap/custom-bootstrap.scss";
@import "../../../../../node_modules/bootstrap/scss/bootstrap";

:root {
  --secondary: var(--bs-secondary);
  --border: #dcdcdc;
  --del-button-note: #f1f1f1;
}
