@import "./bootstrap_overrides.scss";
@import "../../custom-bootstrap/custom-bootstrap.scss";
@import "../../../../../node_modules/bootstrap/scss/bootstrap";

:root {
  --secondary              : var(--bs-secondary);
  --b-secondary            : #dcdcdc;
  --border                 : #dadada80;
  --del-button-note        : #dcdcdc;
  --active-list-link       : #a3a3a30d;
  --active-list-link-hover : #a3a3a30d;
  --list-link-hover        : #cfcfcf2b;
  --text-area-border       : #dcdcdc;
  --note-pin-fill          : #65a961;
  --note-pin-nofill        : var(--b-secondary);
}
