@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vyhrcu');
  src:  url('fonts/icomoon.eot?vyhrcu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vyhrcu') format('truetype'),
    url('fonts/icomoon.woff?vyhrcu') format('woff'),
    url('fonts/icomoon.svg?vyhrcu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-library:before {
  content: "\e921";
}
.fa-credit-card:before {
  content: "\e93f";
}
.fa-user:before {
  content: "\e971";
}
.fa-bin2:before {
  content: "\e9ad";
}
.fa-checkmark:before {
  content: "\ea10";
}
.fa-circle-up:before {
  content: "\ea41";
}
.fa-circle-right:before {
  content: "\ea42";
}
.fa-circle-left:before {
  content: "\ea44";
}
.fa-pencil:before {
  content: "\e905";
}
.fa-pencil2:before {
  content: "\e906";
}
.fa-plus:before {
  content: "\ea0a";
}
.fa-checkmark2:before {
  content: "\ea11";
}
