:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    // color: var(--bs-dark);
}

.note-background {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.note-header {
    margin-top: 0.5rem;
    flex-basis: 50%;
}

.spell-check {
    cursor: pointer;

    path {
        fill: var(--b-secondary);
    }
}

.spell-check-active {
    cursor: pointer;

    path {
        fill: var(--b-active-link-color);
    }
}

.note-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
}

.menu-icon {
    margin: 0.5rem;
    cursor: pointer;
    fill: var(--bs-secondary-color);
}

.menu-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.menu-icon:hover {
    fill: var(--b-active-link-color);
}
