@property --progress {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.rating-circle {
    --size: 50;
    --progress: 0;
    --track-color: var(--active-list-link-border-color);
    --fill-color: #21d07a;
    --text-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: max-content;

    .circle {
        position: relative;
        width: calc(var(--size) * 1px);
        height: calc(var(--size) * 1px);
        border-radius: 50%;
        background: conic-gradient(var(--fill-color) calc(var(--progress) * 1%), var(--track-color) 0);
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            width: 80%;
            height: 80%;
            background: var(--bs-body-bg);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: calc((var(--size) * 1px) / 3.5);
            font-weight: bold;
            color: var(--body-color);

            // border: 1px solid #5a5a5a;
        }

        .vote-count {
            position: absolute;
            bottom: 20%;
            font-size: 85%;
        }
    }

    &.green {
        --fill-color: #21d07a;
    }

    &.yellow {
        --fill-color: #d2d531;
    }

    &.red {
        --fill-color: #db2360;
    }
}
