<h2>About</h2>
<p>Angular starter project that implements best practices in coding, building and testing Angular apps.</p>

<ul>
  <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
  <li>Production and development builds.</li>
  <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
  <li>End-to-end tests with Protractor.</li>
  <li>Development server with live reload.</li>
  <li>TypeScript definition management using Types.</li>
  <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et leo quis elit sollicitudin venenatis non
  sed enim. Donec eget eros in mi porttitor commodo. Fusce aliquet nulla id velit scelerisque, et malesuada
  urna venenatis. Vivamus tempus, velit eget dictum ornare, lectus turpis luctus orci, et molestie velit nisi
  eu est. Suspendisse rhoncus massa hendrerit elit porta, ac vulputate sapien placerat. Nulla ex tortor,
  suscipit eu faucibus vel, imperdiet id lacus. Etiam malesuada sem et mauris dignissim, ac aliquam mi
  iaculis. Vestibulum faucibus posuere gravida. Nulla porta augue nec porttitor finibus. Morbi lobortis, dui
  posuere venenatis ultricies, nibh dolor convallis elit, at varius orci metus sed arcu. Nam eget nulla
  congue, imperdiet ipsum vitae, congue eros.
</p>
<p>
  Integer eu nulla ante. Duis laoreet felis id rutrum euismod. Nunc vehicula nec ante id gravida. Maecenas
  tempus quis tellus at ultrices. Praesent orci lacus, ultricies nec sollicitudin sit amet, sagittis nec arcu.
  Aenean maximus congue accumsan. Fusce massa nisi, convallis at pellentesque ac, tincidunt a dolor. Etiam
  viverra condimentum metus rutrum vestibulum. Ut ut tempus ipsum. Etiam nisl enim, semper sit amet egestas
  vitae, malesuada ut arcu.
</p>
<p>
  Aenean ac lorem massa. Ut vestibulum justo magna, vitae accumsan velit pellentesque vel. Vestibulum cursus
  dui non elit lacinia, in maximus eros pellentesque. Praesent consequat est sit amet leo bibendum, non
  venenatis orci tincidunt. Aenean mattis mi nisi, eu facilisis magna laoreet non. Nullam elementum vehicula
  condimentum. Morbi in ipsum id leo sollicitudin tempor. Curabitur non commodo velit. Nam sit amet
  condimentum odio, at mollis eros. Etiam eros tortor, interdum a egestas sed, mattis ac dolor. Nam eu
  porttitor risus. Duis sodales vitae mi vitae suscipit.
</p>
<p>
  Maecenas sed magna feugiat, imperdiet diam ac, ultricies dolor. Praesent id accumsan risus. Vivamus pretium
  euismod purus, vel efficitur dolor porta sit amet. Cras quis volutpat diam, nec vulputate est. Mauris et
  diam sed odio egestas posuere ut vitae nunc. Cras sit amet lorem semper lacus fermentum dignissim. Cras
  malesuada nisl nunc, nec mollis massa tincidunt ac. Nam nec molestie ipsum. Vivamus metus nisl, mattis nec
  lectus ut, imperdiet tristique diam. Morbi ultrices leo in lobortis elementum. Vivamus pulvinar elementum
  sem, vehicula tristique arcu bibendum eget. Nullam cursus sollicitudin nisi at consequat. Nulla egestas
  massa justo, non cursus sapien euismod ut. Curabitur iaculis nulla vel velit cursus varius. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Curabitur vitae rutrum lacus.
</p>

<p>
  Aenean in lorem nisi. Vivamus venenatis id nisl in vehicula. Proin a ligula a nisi rutrum tincidunt. Ut
  laoreet fermentum feugiat. Praesent mattis eros id arcu accumsan aliquam. Interdum et malesuada fames ac
  ante ipsum primis in faucibus. Aliquam mattis sapien nec erat mollis dictum at id nisi. Nulla tempor ex sed
  pellentesque efficitur. Aenean hendrerit nibh in rhoncus finibus. Morbi mi enim, ultricies nec feugiat non,
  pulvinar vel erat. Cras euismod orci quis tellus fermentum, sed consectetur mauris lacinia. Vestibulum ante
  ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</p>
