.red-note {
    background: linear-gradient(#f9afaf, #f78d8d);
    color: black;

    svg {
        fill: var(--body-color);
    }
}

.green-note {
    background: linear-gradient(#aff9b0, #9ff78d);
    color: black;

    svg {
        fill: var(--body-color);
    }
}

.violet-note {
    background: linear-gradient(#b3aff9, #968df7);
    color: black;

    svg {
        fill: var(--body-color);
    }
}

.yellow-note {
    background: linear-gradient(#f9efaf, #f7e98d);
    color: black;

    svg {
        fill: var(--body-color);
    }
}

.blue-note {
    background: linear-gradient(#72b2eb, #4ea0f2);
    color: black;

    svg {
        fill: var(--body-color);
    }
}

.none-note {
    background: transparent;
}
