<div class="row mt-5 justify-content-center">
    <div class="col-md-6 mt-5">
        <button class="btn btn-primary btn-lg btn-block" (click)="login()">Login</button>
    </div>
    <div class="col-md-6 mt-5">
        <button class="btn btn-primary btn-lg btn-block" (click)="startSignoutMainWindow()">Sign Out</button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 mt-5">
        <button class="btn btn-primary btn-lg btn-block" (click)="goback()">Back</button>
    </div>
</div>
