.dialog-box {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 400px;
    background: var(--body-bg);

    // padding: 1rem;
    border-radius: 8px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    animation: fade-in 0.2s ease-in-out;
    box-shadow: 0 12px 28px rgb(0 0 0 / 20%);
    font-family: system-ui, sans-serif;
    border: 2px solid var(--card-border-color);
    top: -15%;
}

.dialog-backdrop {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-header {
    background: var(--card-cap-bg);
    padding: 5px 9px 5px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
}

.dialog-body {
    padding: 0 1rem;
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px 20px;
    gap: 12px;
}

.close-btn {
    cursor: pointer;
    font-size: 26px;
    transition: color 0.2s;
    color: var(--bs-secondary);
}

.btn-yes:hover {
    background: #c86161;
}

.close-btn:hover {
    color: var(--btn-bg-hover-color);
}

.dialog-actions button {
    flex: 1;
    min-width: 90px;
    padding: 10px 0;
    font-size: 0.95rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    // background-color: var(--primary);
    color: white;
    transition: background-color 0.2s ease;
}

@keyframes fade-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}