:host {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;

    --color1: var(--border);
    --color2: var(--b-secondary);
}

.hide {
    display: none !important;
}

/* Progress Bar */
.app-progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: var(--color1);
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
}

.app-progress .determinate {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--color2);
    transition: width 0.3s linear;
}

.app-progress .app-loading {
    background-color: var(--color2);
}

.app-progress .app-loading::before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.app-progress .app-loading::after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}