.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    flex-direction: row;
}

.search-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--body-bg);
    padding-top: 1rem;
}

input {
    width: 100%;
    font-size: 1rem;
    font-size: 2.5rem;
    color: var(--b-secondary) !important;
}

input::placeholder {
    color: var(--bs-border-color-translucent);
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    // box-shadow: 0px 0px 7px 2px #b0b0b0;
}

.clear-btn {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--b-secondary);
    background: transparent;
    border: none;
    font-size: 4.75rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;

    &:hover {
        color: #333;
    }
}
