<div class="note-container"
  [style.top.px] = "note.top"
  [style.left.px] = "note.left"
  [style.background] = "note.colour"
    [style.width.px]="note.width"
    [style.height.px]="note.height"
     appMovable
     (dragEnd)="handleChangeNotePosition($event)"
  >
  <span class="fa fa-bin2" (click)="handleNoteDelete(note)"></span>
  <textarea
    #noteText
    [style.width.px]="note.width"
    [style.height.px]="note.height"
    (resize) = "handleResizeNote($event)"
    (blur)="handleChangeNoteText(noteText.value)"
    [ngClass] = "note.colour + '-note'">{{note.text}}</textarea>
</div>
