<!-- <div  #notediv
      cdkDrag class     = "card"
      [style.width.px]  = "note.width"
      [style.height.px] = "note.height"
      [style.top.px]    = "note.top"
      [style.left.px]   = "note.left"
      (cdkDragEnded)    = "dragEnded($event)"
> -->
    <div cdkDragHandle class="card-header">

      <span  class="del fa fa-bin2" (click)="handleNoteDelete(note)"></span>
      <span class="clear"></span>
      <!-- {{ header }} -->
    </div>
    <!-- <div [ngClass] = "note.colour + '-note'" class="card-block"> -->
    <!-- </div> -->

    <!-- <app-textarea-expanded
        #notediv
        (note)      = "note"
        [(ngModel)] = "note.text"
        (onChange)  = "handleChangeNoteText(note.text)"
    >
    </app-textarea-expanded> -->
<!-- </div> -->
