:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background: var(--b-note-bg-color);
}

.note-header{
  margin-top:0.5rem;
}

.note-menu {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 1rem;
}

.menu-icon {
  margin:0.5rem;
  cursor: pointer;
  fill: var(--bs-secondary-color);
}

.menu-icons {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
}

.menu-icon:hover {
  fill: var(--b-active-link-color);
}

div {
  display:block;
}
textarea  {
  resize:none;
  color: black;
  padding:10px 10px 4px;
  font:20px 'Gloria Hallelujah', cursive;
  line-height:1.5;
  border:0;
  border-radius:3px;
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
  // box-shadow:0 4px 6px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
}

textarea.red-note{
  background: -webkit-linear-gradient(#F9AFAF, #F78D8D);
  background: -moz-linear-gradient(#F9AFAF, #F78D8D);
  background: -o-linear-gradient(#F9AFAF, #F78D8D);
  background: -ms-linear-gradient(#F9AFAF, #F78D8D);
  background: linear-gradient(#F9AFAF, #F78D8D);
}

textarea.green-note{
  background: -webkit-linear-gradient(#AFF9B0, #9FF78D);
  background: -moz-linear-gradient(#AFF9B0, #9FF78D);
  background: -o-linear-gradient(#AFF9B0, #9FF78D);
  background: -ms-linear-gradient(#AFF9B0, #9FF78D);
  background: linear-gradient(#AFF9B0, #9FF78D);
}

textarea.blue-note{
  background: -webkit-linear-gradient(#B3AFF9, #968DF7);
  background: -moz-linear-gradient(#B3AFF9, #968DF7);
  background: -o-linear-gradient(#B3AFF9, #968DF7);
  background: -ms-linear-gradient(#B3AFF9, #968DF7);
  background: linear-gradient(#B3AFF9, #968DF7);
}

textarea.yellow-note{
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
}

textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }
