.dialog-backdrop {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-box {
    display: flex;
    flex-direction: column;
    position: relative;
    outline: none;
    background: var(--body-bg);

    // padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-height: 75vh;
    box-shadow: 0 0 24px rgb(0 0 0 / 20%);
    animation: fadeIn 0.2s ease-in-out;
    overflow-y: auto;
    top: -50px;

    // background: var(--body-bg);
    // padding: 2rem;
    // border-radius: 10px;
    // width: 80%;
    // max-height: 90vh;
    // overflow-y: auto;
    // position: relative;
    // animation: fadeIn 0.2s ease-in-out;
    // box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
    // font-family: system-ui, sans-serif;
}

.dialog-header {
    // background-color: #f5f5f5;
    background: var(--card-cap-bg);
    padding: 5px 9px 5px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;

    // border-bottom: 1px solid var(--primary);
}

.dialog-form {
    padding: 1rem 2rem;
}

app-textarea-expanded {
    padding-top: 1rem;
    flex: 1;
    border: 1px solid var(--border);
}

.layout {
    display: flex;
    gap: 2rem;
}

.left,
.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.right {
    gap: 1rem;
}

.colour {
    margin: 0 0 1rem;
}

h2 {
    // margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.close-btn {
    cursor: pointer;
    font-size: 26px;
    transition: color 0.2s;
    padding: 5px;
    color: var(--secondary);
}

.close-btn:hover {
    color: var(--btn-bg-hover-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

input[type='text'],
input[readonly],
input[type='checkbox'] {
    font-size: 1rem;
    padding: 0.6rem;

    // border: 1px solid #ccc;
    border-radius: 6px;
}

input[type='text']::spelling-error {
    display: none;
}

.textInput {
    border: 1px solid var(--b-secondary);
    padding: 0.25rem 1rem;
}

input[type='checkbox'] {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}

.check-label {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--border);
}

input[readonly] {
    border: 1px solid var(--border) !important;
    background-color: var(--bg-hover);
}

input:focus {
    outline: none;
}

button {
    // color: var(--primary);
    // color: var(--btn-color);
    // background: var(--btn-bg-color);
    height: 4rem;
    width: 9rem;
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dialog-actions {
    // margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.dialog-actions button {
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.split {
    display: flex;
    gap: 2rem;

    // flex-direction: row;
    // width: 100%;
}

.split > div {
    width: 50%;
}

.read {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

select {
    padding: 0.8rem;
}

// .dialog-actions button:first-child {
//   background: #007bff;
//   color: white;
// }

// .dialog-actions button:last-child {
//   background: #eee;
// }

// .dialog-actions button:hover:first-child {
//   background: #0056b3;
// }

// .dialog-actions button:hover:last-child {
//   background: #ddd;
// }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
