<div class="dialog-backdrop" (click)="onClose()">
    <div class="dialog-box" (click)="$event.stopPropagation()">
        <div class="dialog-header">
            <div>Edit</div>
            <div class="close-btn" (click)="onClose()">✕</div>
        </div>

        <div class="dialog-form">
            <form class="editForm" [formGroup]="form" [spellcheck]="false" (ngSubmit)="onSave()">
                <div class="layout">
                    <div class="left">
                        <div class="form-group">
                            <label>Title</label>
                            <input formControlName="header" type="text" />
                        </div>
                        <div class="form-group" style="flex: 1">
                            <label>Note</label>
                            <app-textarea-expanded [note]="note" [facadeNote]="note" formControlName="text">
                            </app-textarea-expanded>
                        </div>
                    </div>

                    <div class="right">
                        <div class="split">
                            <div class="form-group checkbox">
                                <label class="check-label">
                                    <input type="checkbox" formControlName="active" /> Active
                                </label>
                                <label class="check-label">
                                    <input type="checkbox" formControlName="archived" /> Archived
                                </label>
                                <label class="check-label">
                                    <input type="checkbox" formControlName="pinned" /> Pinned
                                </label>
                                <label class="check-label">
                                    <input type="checkbox" formControlName="spell_check" /> Spell Check
                                </label>
                                <div class="form-group colour">
                                    <label>Colour</label>
                                    <app-note-colour-selector
                                        [note]="note"
                                        formControlName="colour"></app-note-colour-selector>
                                </div>
                            </div>
                            <div class="read">
                                <div class="form-group readonly">
                                    <label>Last Modified</label>
                                    <input [value]="formatDate(note.date_modified)" readonly />
                                </div>
                                <div class="form-group readonly">
                                    <label>Date Archived</label>
                                    <input [value]="formatDate(note.date_archived)" readonly />
                                </div>
                                <div class="form-group readonly">
                                    <label>Created</label>
                                    <input [value]="formatDate(note.date_created)" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Owner</label>
                            <select formControlName="user_id" (change)="onOwnerChange($event)">
                                @for (user of Owners | async; track user) {
                                    <option [value]="user.user_id">
                                        {{ user.owner }} ({{ user.total_notes }})
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="dialog-actions">
                    <button type="submit" [disabled]="form.invalid">Save</button>
                    <button type="button" (click)="onClose()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
