.dialog-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-box {
    background: var(--body-bg);
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    animation: fadeIn 0.2s ease-in-out;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
    font-family: system-ui, sans-serif;
}

app-textarea-expanded {
    border: 1px solid var(--active-list-link-border-color);
}

.layout {
    display: flex;
    gap: 2rem;
}

.left,
.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.right {
    gap: 1rem;
}

.colour {
    margin: 0 0 1rem 0;
}

h2 {
    // margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.close-icon {
    position: absolute;
    color: var(--body-color);
    font-size: 2.5rem;
    top: 0rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

app-textarea-expanded {
    min-height: 500px;
}

input[type='text'],
input[readonly],
input[type='checkbox'] {
    font-size: 1rem;
    padding: 0.6rem;
    // border: 1px solid #ccc;
    border-radius: 6px;
}

input[type='text']::spelling-error {
    display: none;
}

.textInput {
    border: 1px solid var(--b-secondary);
    padding: 0.25rem 1rem 0.25rem 1rem;
}

input[type='checkbox'] {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}

.check-label {
    display: flex;
    align-items: center;
}

input[readonly] {
    background-color: var(--b-secondary);
}

button {
    color: var(--btn-color);
    background: var(--primary);
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dialog-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.dialog-actions button {
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

// .dialog-actions button:first-child {
//   background: #007bff;
//   color: white;
// }

// .dialog-actions button:last-child {
//   background: #eee;
// }

// .dialog-actions button:hover:first-child {
//   background: #0056b3;
// }

// .dialog-actions button:hover:last-child {
//   background: #ddd;
// }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
