:host ::ng-deep {
  // overflow: auto !important;

  .modal-content {
    --bs-modal-bg: rgba(0,0,0,0);
    --bs-modal-border-radius: 0;
    --bs-body-bg: #ffffffe3;
    // border:none;
    border: 2px solid var(--bs-primary);
  }

}
