$gap : 4vh;
$padding : 4vh;
$color : #48CAE4;

$bp : (
  mobile : 480px,
  tablet : 768px,
  desktop : 1440px,
);

@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
