.home-wrapper {
    display: flex;
    // flex-wrap: wrap;
    flex-wrap: nowrap;
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.tvSeries {
    flex: 0 0 25%;
}

.barChart {
    flex: 0 0 25%;
}

.scatterconnectedChart {
    flex: 0 0 25%;
}

.scatterChart {
    flex: 1 0 20%;
}

.list-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--body-bg);
}

.list-group-item {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border);
}

.list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h5 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    margin: 0;
}
