<div class="home-wrapper">
    <div class="tvSeries">
        <app-card header="Popular Series" [height]="27">
            <div class="list-group">
                @for (tv of tvs; track tv) {
                    <a class="list-group-item">
                        <div class="list">
                            <h5>{{ tv.name }}</h5>
                            <small class="text-muted">Aired {{ tv.first_air_date }}</small>
                        </div>
                        <!-- <p class="mb-1">{{ tv.overview | truncate : 100 : true }}</p> -->
                        <small class="text-muted">country {{ tv.origin_country[0] }}</small>
                    </a>
                }
            </div>
        </app-card>
    </div>
    <div class="movies">
        <app-card header="Discover Movies" [height]="27">
            <div class="list-group">
                @for (movie of moviesResult?.movies; track movie) {
                    <a class="list-group-item">
                        <div class="list">
                            <h5>{{ movie.title }}</h5>
                            <small class="text-muted">Date Released {{ movie.release_date }}</small>
                        </div>
                        <p class="mb-1">{{ movie.overview | truncate: '100' : true }}</p>
                        <small class="text-muted">Language {{ movie.spoken_languages | json }}</small>
                    </a>
                }
            </div>
        </app-card>
    </div>

    <div class="barChart">
        <app-card [header]="permission.IsAdmin ? 'Statistics' : 'Bar Chart'">
            <app-barchart
                [xHeader]="permission.IsAdmin ? 'Users' : null"
                [yHeader]="permission.IsAdmin ? 'Total Notes' : null"
                [data]="permission.IsAdmin ? (data | async) : null"></app-barchart>
        </app-card>
    </div>
    <div class="scatterconnectedChart">
        <app-card header="Scatter Connected Plot">
            <app-scatterconnectedchart></app-scatterconnectedchart>
        </app-card>
    </div>
    <div class="scatterChart">
        <app-card header="Scatter Plot">
            <app-scatterchart></app-scatterchart>
        </app-card>
    </div>
    <div class="pieChart">
        <app-card header="Pie Chart">
            <app-piechart></app-piechart>
        </app-card>
    </div>
</div>

<div>{{ appVersion }}</div>
