.home-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1.5rem 2rem 1.5rem;
    gap: 1rem;
    justify-content: center;
}

.home-wrapper div {
    flex: 0 0 30%;
}

.list-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--body-bg);
}

.list-group-item {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border);
}

.list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h5 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    margin: 0;
}
