.d3-chart {
    width: 100%;
    height: 400px;

    // height: 100%;
}

.d3-chart .axis path,
.d3-chart .axis line {
    stroke: #999;
}

.d3-chart .axis text {
    fill: #999;
}

#my-dataviz {
    width: 100%;
    height: 400px;
}