<h2>Archived Notes</h2>
<div class="wrapper">
    @if ((ArchivedNotes | async).length) {
        <div class="notes">
            @for (note of ArchivedNotes | async; track $index) {
                <div class="note-border">
                    <div class="left">
                        <div class="numbering">{{ $index + 1 }}</div>

                        <div class="note-detail">
                            <div class="item">
                                <div class="note-text" [ngClass]="{ 'pinned-note-text': note.pin_order }">
                                    {{ note | noteTitleTruncate: '20' : true }}
                                </div>
                            </div>
                            <small>Author: {{ note.owner }}</small>
                            <br />
                            <small
                                [appTooltip]="'Last Modified ' + (note.date_modified | dateago)"
                                class="date-modified text-muted">
                                <strong>Archived On</strong>
                                {{ note.date_archived | date: 'medium' }}
                            </small>
                        </div>
                    </div>

                    <div class="restore" (click)="restore(note)">
                        <div class="restore-icon">
                            <app-svg-icon
                                width="30"
                                height="30"
                                src="assets/images/restore.svg"></app-svg-icon>
                        </div>
                    </div>

                    <div class="delete" (click)="delete(note)">
                        <div class="delete-icon">
                            <app-svg-icon width="30" height="30" src="assets/images/trash.svg"></app-svg-icon>
                        </div>
                    </div>
                </div>
            }
        </div>
    } @else {
        <div class="no-content">No acrhived notes.</div>
    }
</div>
