:host {
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    display: flex;
    align-items: center;
}

.toggle-switch {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    gap: 0.5rem;
}

.toggle-input {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    appearance: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.toggle-input:checked {
    background-color: #2a6ada;
}

.toggle-input::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-input:checked::before {
    transform: translateX(20px);
}
