:host {
  --card-width: 250px; /* Define the desired card width */
}

.card-view {
    margin: 10px;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0.5rem;
    max-width: var(--card-width);
}

.col-auto {
    font-size: 1.25rem;
    float: right;
    margin: 0 0 0 0.3rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poster {
    max-width: var(--card-width);
    overflow: hidden;
}

.poster img {
    /* The image will be the primary width-setter */
    width: 100%;
    height: auto; /* Preserve aspect ratio */
    object-fit: cover;
}

.favorite {
    background-color: red;
}

.fave {
    // outline: 5px solid red;
}

.btn-fav {
    color: white;
}

.year-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hover-shadow:hover {
    box-shadow: 0px 0px 5px var(--bs-secondary);
}

.lang {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.75;
}

img {
    width: auto;
    object-fit: cover;
    // object-position: 0% 0%;
}

.card-text {
    font-size: 13px;
    display: block;
    line-height: 20px;
}

.title-text {
    flex-grow: 1;
    text-align: center;
}

.d-flex {
    align-items: center;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    transition: transform 1s ease;
}

.fade-in:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
