<!-- <h1>{{index}}</h1> -->
<div
    class="card-view hover-shadow"
    [style.--index]="index % 20"
    [class.poster-loaded]="imageLoaded"
    [class.watched]="isInWatchedList | async"
    (animationend)="onAnimationEnd($event)">
    <div class="poster">
        @if (!imageLoaded) {
            <svg
                class="loading-svg"
                [class.loading-svg]="!imageLoaded"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 200 200">
                <circle class="bouncing-circle" r="10" cx="40" cy="65">
                    <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="160;110;160;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="-.4"></animate>
                </circle>
                <circle class="bouncing-circle" r="10" cx="100" cy="65">
                    <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="160;110;160;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="-.2"></animate>
                </circle>
                <circle class="bouncing-circle" r="10" cx="160" cy="65">
                    <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="160;110;160;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="0"></animate>
                </circle>
            </svg>
        }

        <img
            class="poster-image"
            [src]="imageUrl"
            [class.image-fade-in]="imageLoaded"
            loading="lazy"
            (load)="onImageLoaded()"
            (click)="onImageClick()"
            (error)="handleEmptyImage()" />

        @if (dialogLoading$ | async) {
            <div class="poster-overlay">
                <div class="spinner"></div>
            </div>
        }

        <app-bookmark [size]="35" [saved]="isInWatchList | async" (savedChange)="onBookmarkToggled($event)" />
        <span
            [class.link-avail]="imageLoaded$.value"
            (click)="imageLoaded$.value ? onImageClick() : null"
            class="badge bg-secondary lang">
            {{ movie.original_language | uppercase }}</span
        >
        <app-watched [watched]="isInWatchedList | async" (watchedChange)="onWatchedToggled($event)" />
    </div>
    <div class="content">
        <div class="title">
            <strong class="title-text">
                <!-- <div class="card-title" [routerLink]="[`/movies/d/${movie.id}`]">{{ movie.title }}</div> -->
                <a class="card-title" [routerLink]="[`/movies/d/${movie.id}`]">{{ movie.title }}</a>
            </strong>
        </div>

        <div class="overview-text">{{ movie.overview | truncate: '100' : true }}</div>

        <div class="year-rating">
            <div>{{ movie.release_date | truncate: '4' : false }}</div>

            <div class="watch">
                <a target="_blank" class="watch" [href]="WatchLink"> Watch </a>
            </div>

            <div>
                <a target="_blank" class="ext" [href]="TorLink">&nbsp; T</a>
            </div>
            <app-circular-rating
                [voteCount]="movie.vote_count"
                [voteAverage]="movie.vote_average"
                [size]="65" />
        </div>
    </div>
</div>
