<div class="card-view hover-shadow" [class.poster-loaded]="imageLoaded">
    <div class="poster">
        @if (!imageLoaded) {
            <svg
                class="loading-svg"
                [class.loading-svg]="!imageLoaded"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 200 200">
                <circle class="bouncing-circle" r="10" cx="40" cy="65">
                    <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="160;110;160;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="-.4"></animate>
                </circle>
                <circle class="bouncing-circle" r="10" cx="100" cy="65">
                    <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="160;110;160;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="-.2"></animate>
                </circle>
                <circle class="bouncing-circle" r="10" cx="160" cy="65">
                    <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="160;110;160;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="0"></animate>
                </circle>
            </svg>
        }

        <img
            class="poster-image"
            [src]="imageUrl"
            [class.image-fade-in]="imageLoaded"
            loading="lazy"
            (load)="onImageLoaded()"
            (click)="onImageClick()"
            (error)="handleEmptyImage()" />

        <!-- <img -->
        <!--     class="fade-in" -->
        <!--     [src]="movie.get_poster_path()" -->
        <!--     (load)="onImageLoaded()" -->
        <!--     (click)="onImageClick()" -->
        <!--     (error)="handleEmptyImage()" /> -->
        @if (dialogLoading$ | async) {
            <div class="poster-overlay">
                <div class="spinner"></div>
            </div>
        }
    </div>
    <div class="content">
        <div class="title">
            <strong class="title-text">
                <div class="card-title">{{ movie.title }}</div>
            </strong>
        </div>

        <div class="text-row">
            <div class="col-auto">
                <span class="badge bg-secondary"> {{ movie.original_language | uppercase }}</span>
            </div>
            <small class="card-text">{{ movie.overview | truncate: '100' : true }}</small>
        </div>

        <div class="year-rating">
            <div>{{ movie.release_date | truncate: '4' : false }}</div>

            <app-circular-rating [voteAverage]="movie.vote_average" [size]="65" />

            <!-- <app-ngbd-rating-decimal [size]="2" [currentRate]="movieRating"></app-ngbd-rating-decimal> -->

            @if (isInWatchList | async) {
                <button class="btn-fav favorite" (click)="btnRemoveWatchListClick()">♥</button>
            } @else {
                <button class="btn-fav" (click)="btnAddWatchListClick()">♥</button>
            }
        </div>
    </div>
</div>
