<div class="card" style="">
  <!-- <img class="card-img-top" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="Card image cap"> -->
  <img [hidden]="isImgLoaded" class="card-img-top" src="/assets/images/placeholder.png" >
  <img [hidden]="!isImgLoaded" class="card-img-top" [src]="movie.get_poster_path()" (load)="isImgLoaded=true">

  <div class="card-block p-2">

    <h6 class="card-title"> <a [routerLink]="['/movies/movie',movie.id]" class="text-decoration-none" >{{ movie.title | truncate : '12' : true }}</a></h6>
    <!-- <p class="card-text">{{ movie.overview | truncate: '150' : true}}</p> -->

    <div class="d-flex justify-content-between">
      <p class="card-title">{{ movie.release_date | truncate: '4':false }}</p>
      <app-ngbd-rating-decimal  [size]=1 [currentRate]= "movieRating"></app-ngbd-rating-decimal>
    </div>

  </div>
</div>
