:host {
    --card-width: 250px;

    // --card-height: 550px;
    --card-height: 500px;
    --image-height: 379px;
    --circle-color: var(--del-button-note);
    --card-border-radius: 10px;
    --circular-rating-size: 65px;
    --transform-size: 1rem;
}

@keyframes card-enter-animation {
    0% {
        opacity: 0;

        // transform: translateY(var(--transform-size)); /* optional small slide */
        transform: scale(0);
    }

    75% {
        opacity: 1;

        // transform: translateY(0);
        transform: scale(1.1);
    }

    100% {
        opacity: 1;

        // transform: translateY(0);
        transform: scale(1);
    }
}

.btn-bookmark {
    position: absolute;
    left: 15px;
    top: -3px;
}

.btn-watched {
    position: absolute;
    cursor: pointer;
    left: 6px;
    bottom: -10px;
}

.card-view.watched {
    opacity: 0.25 !important;
}

.card-view {
    width: var(--card-width);
    height: var(--card-height);

    // width: 100%;
    position: relative;
    opacity: 0;
    transform: scale(0); /* initial state */
    pointer-events: none; /* ignore hover */
    // transform: translateY(var(--transform-size)); /* optional small slide */
    // margin: 10px;
    // background-color: var(--border);
    transition:
        transform 0.5s ease,
        opacity 0.5s ease;
    background-color: var(--bg-hover);

    // border: 1px solid var(--card-border-color);
    display: flex;
    flex-flow: column nowrap;
    border-radius: var(--card-border-radius);
    margin-bottom: 3rem;
    animation: card-enter-animation 0.75s ease-in-out forwards;
    animation-delay: calc(50ms * var(--index));
    animation-iteration-count: 1;
}

.card-view.animated {
    animation: none;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto; /* re-enable hover */
}

.card-view.animated:hover {
    pointer-events: auto; /* re-enable hover */
    // box-shadow: 0 4px 15px 4px rgb(119 119 119 / 20%);
    border: none;

    // z-index: 2;
    transform: scale(1.07);
}

.loading-svg {
    position: absolute;
    opacity: 1;
    z-index: 0;
    transition: opacity 1s ease;
}

.poster-loaded {
    background-color: var(--card-bg);

    // outline: 1px solid var(--card-border-color);
}

.bouncing-circle {
    fill: var(--circle-color);
    stroke: var(--circle-color);
    stroke-width: 10;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5rem;
    padding-top: 0;

    // padding-top: 0rem;
    width: 100%;

    // max-width: var(--card-width);
}

.title {
    padding: 0.25rem;
    font-size: 1.2rem;
    cursor: pointer;

    // color: #2a6ada;
    // text-decoration: none;
    // border-bottom: 3px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--body-color);
}

a:hover {
    color: #2a6ada;
}

.poster {
    border-top-right-radius: var(--card-border-radius);
    border-top-left-radius: var(--card-border-radius);
    position: relative;

    // width: var(--card-width);
    height: var(--image-height);
    overflow: hidden;

    // height: auto;
    width: 100%;

    // border:3px solid yellow;
}

.poster-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

/* Spinner animation */
.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid var(--bs-card-cap-bg);
    border-top-color: #2a6adafc;
    border-radius: 50%;
    animation: spin 0.8s ease-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.year-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.5rem 0.25rem;
    font-weight: bold;

    .watch {
        margin-left: auto;
    }
}

app-circular-rating {
    position: absolute;
    left: 50%;
    transform: translate(-50%, calc(((var(--card-height) / 1) * 1.05) - var(--circular-rating-size)));
}

.lang {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    right: -0.15rem;
    top: -0.25rem;

    // border-radius: 0.25rem;
    border-top-right-radius: var(--card-border-radius);
    cursor: default;
    background: var(--card-border-color);
    color: #fff;
}

.link-avail {
    cursor: pointer;
}

.overview-text {
    font-size: 0.85rem;
}

.title-text {
    flex-grow: 1;
    text-align: center;
}

.image-fade-in {
    opacity: 1 !important;
}

.poster-image {
    // position: absolute;
    // top: 0;
    // left: 0;
    opacity: 0;

    // z-index: 1;
    width: 100%;
    height: 100%; /* Preserve aspect ratio */
    object-fit: cover;

    // animation: fadeIn ease 1s;
    // -webkit-animation: fadeIn ease 1s;
    // -moz-animation: fadeIn ease 1s;
    // -o-animation: fadeIn ease 1s;
    // -ms-animation: fadeIn ease 1s;
    transition:
        transform 0.5s ease,
        opacity 0.5s ease;
}

.poster-image:hover {
    cursor: pointer;

    // transform: scale(1.05);
}

.card-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-view:hover .card-wrapper {
    transform: rotateY(180deg);
}

.front-wrapper {
    position: relative;
    border-radius: var(--card-border-radius);

    // border: 5px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.front {
    border-radius: var(--card-border-radius);
    backface-visibility: hidden;

    // border: 0.25rem solid #cfddf7;
    border: 0.25rem solid var(--card-border-color);

    // width: 100%;
    height: 100%;

    // border: 1px solid conic-gradient(var(--fill-color) calc(var(--progress) * 1%), var(--track-color) 0);
    // background: white;
}

.back {
    // cursor: pointer;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    transform: rotateY(180deg);

    // background-color: var(--card-bg);

    // border: 1px solid var(--border);
    // border: 0.5rem solid red;
    // border: 0.25rem solid #cfddf7;
    border: 0.25rem solid var(--card-border-color);

    // padding: 1rem;
    border-radius: var(--card-border-radius);

    // overflow-y: auto;
    // box-shadow: 0 4px 15px 4px rgb(119 119 119 / 20%);
    display: flex;
    flex-direction: column;
}

.back-content {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0;
    height: 100%;
    overflow-y: auto;
}

.back-card-title {
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
}

.back-poster-image {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.12 !important;
    border-radius: var(--card-border-radius);
}

.back-bookmark {
    position: relative;
    width: 1.2rem;
}

.back-watched {
    position: relative;
}

.back-watched:hover {
    cursor: pointer;
}

.back-poster-overlay {
    z-index: 1;
    border-radius: var(--card-border-radius);
}

.back-year {
    font-size: 1rem;
    display: inline-flex;

    // display:inline-flex;
}

.btn-detail {
    width: 1.7rem;
}

.btn-detail:hover {
    cursor: pointer;
    fill: var(--primary);
}

.back-controls {
    margin: 0 0.5rem 0.25rem;

    // margin-top: 0;
    // margin-bottom: 0.5rem;
    width: -webkit-fill-available;
    padding: 0.25rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    align-self: flex-start;
    border-top: 1px solid var(--border);
}

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--primary-light);
    border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}
