:host * {
    box-sizing: border-box;
}

.note-wrapper:hover {
    // background: var(--active-list-link-hover);
}

.svg-wrap {
    width: 1.25rem;
    height: 1.25rem;
}

.spell-check {
    cursor: pointer;
    fill: var(--b-secondary);
}

.spell-check-active {
    cursor: pointer;
    fill: var(--spell-check-active);
}

.leaving {
    animation: rotateOutAnimation 0.75s ease-out forwards;
}

.enter-animation {
    animation: rotateInAnimation 0.25s ease-in forwards;
}

@keyframes rotateInAnimation {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(180deg);
    }
}

@keyframes rotateOutAnimation {
    from {
        opacity: 1;
        transform: rotate(180deg) scale(1);
    }
    to {
        opacity: 0;
        transform: rotate(0deg) scale(0.5);
    }
}

.note-syncing {
    animation: spin 3s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sync-false {
    cursor: pointer;
    width: 100%;
    height: 100%;

    path {
        fill: var(--note-pin-fill);
    }
}

.note-wrapper {
    position: absolute;
    height: 3.5rem;
    // cursor: pointer;
    width: 100%;
    z-index: 1;
    padding: 0.15rem;
}

.note-border {
    position: relative;
    // border-bottom: 1px solid var(--border);
    height: 3.5rem;

    // margin: 0 0 0 0.75rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // background: var(--active-list-link);
    background: var(--bs-card-bg);
}

.left {
    display: flex;
    cursor: pointer;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    z-index: 2;
    padding-left: 0.5rem;
}

.right {
    display: flex;
    column-gap: 0.25rem;
    flex-direction: row;
    align-items: center;
    z-index: 2;

    & > *:not(:last-child) {
        // padding: 0.15rem;
    }
}

.note-colour {
    width: 0.5rem;
    height: 3.5rem;
    z-index: 3;
}

.selected-note {
    // background: var(--selected-note-list-item-bg-color) !important;
    background: var(--bg-hover);
    z-index: 1;
    color: var(--active-list-color) !important;

    .date-text {
        color: var(--active-list-color) !important;
    }

    .note-wrapper {
        opacity: 0;
    }
}

.date-text {
    color: var(--bs-secondary-color);
}

.menu {
    cursor: pointer;
}

.menu:hover {
    color: #f3828d;
}

.item {
    cursor: pointer;
    z-index: 0;
}

.date-modified {
    cursor: pointer;
    z-index: 0;
    user-select: none;
}

.note-text {
    user-select: none;
}

.pinned-note-text {
    // font-weight: bold;
}

.pin {
    transition: all 0.25s ease;
    width: 1.5rem;
    height: 1.5rem;
    fill: #c7c7c7;
}

.pin-wrapper {
    z-index: 1;
    display: flex;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.pinned {
    fill: var(--note-pin-fill);
}

.newpin {
    fill: #c7c7c7;
    transform: rotate(90deg);
}

.newpin:hover {
    // fill: var(--note-pin-fill);
    transform: rotate(0deg);
}

.del-button:hover {
    .archive-note-button-icon {
        fill: var(--warning);
    }
}

// .archive-note-button-icon {
//     fill: rgb(from var(--warning) r g b / 55%);
//     width: 100%;
//     height: 100%;
// }

.archive-note-icon {
    // fill: rgb(from var(--warning) r g b / 45%);
    fill: var(--b-secondary);
    cursor: pointer;
}

.archive-note-icon:hover {
    // fill: rgb(from var(--warning) r g b / 65%);
    fill: var(--note-pin-fill);
}

.del-button {
    color: var(--del-button-note);
    font-size: 1.25rem;
    // padding: 0.25rem;
    display: flex;
    // width: 1.75rem;
    // height: 1.75rem;

    // padding-right: 2rem;
    // position: absolute;
    // right: 1rem;
    // margin: auto;
    // top: 0.75rem;
    // bottom: 0;
}