<div
    [@.disabled]="!animate.note"
    [@fadeInOutNoteListItem]
    class="note-border"
    [class.selected-note]="selectedNote === note">
    <div class="note-wrapper"></div>
    <div class="left" (mouseup)="onSelectNote(note)">
        <div class="item" (mouseup)="onSelectNote(note)">
            <div class="note-text" [class.pinned-note-text]="note.pinned">
                {{ note | noteTitleTruncate: '20' : true }}
            </div>
        </div>

        <small
            (mouseup)="onSelectNote(note)"
            [class.pinned-note-text]="note.pinned"
            class="date-modified date-text"
            [@.disabled]="!animate.date"
            [@fadeInOutNoteListItem]
            [appTooltip]="'Last Modified - ' + (note.date_modified | date: 'EEE, MMM d yyyy hh:mm:ss a')">
            {{ note.local_date_modified ?? note.date_modified | dateago }}
        </small>
    </div>
    <div class="right">
        @if (!note.sync) {
            <div
                class="svg-wrap"
                (mouseup)="onSyncNote()"
                animate.leave="leaving"
                animate.enter="enter-animation">
                <svg
                    [class.note-syncing]="note.sync"
                    class="sync-false"
                    width="800px"
                    height="800px"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill="var(--ci-primary-color, #000000)"
                        d="M410.168,133.046,381.21,104.088,464.017,104l-.034-32L328,72.144V208h32V128.132l27.541,27.541A152.5,152.5,0,0,1,279.972,416l.056,32a184.5,184.5,0,0,0,130.14-314.954Z"
                        class="ci-primary" />
                    <path
                        fill="var(--ci-primary-color, #000000)"
                        d="M232.028,104l-.056-32a184.5,184.5,0,0,0-130.14,314.954L130.878,416H48v32H184V312H152v79.868l-27.541-27.541A152.5,152.5,0,0,1,232.028,104Z"
                        class="ci-primary" />
                </svg>
            </div>
        }

        <app-svg-icon
            height="20"
            width="20"
            (mouseup)="onSpellCheckToggle(note)"
            [class]="note.spell_check ? 'spell-check-active' : 'spell-check'"
            src="assets/images/spell.svg" />

        <div class="menu del-button">
            <app-svg-icon
                height="23"
                width="23"
                (mouseup)="onArchiveNote(note)"
                class="archive-note-icon"
                src="assets/images/archive.svg" />
        </div>

        <div class="pin-wrapper" (mouseup)="updatePinOrder(note)">
            <svg
                class="pin"
                width="800px"
                height="800px"
                [class]="note.pinned ? 'pinned' : 'newpin'"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg">
                <g>
                    <polygon
                        points="13 8 11 6 11 3 12 3 12 1 4 1 4 3 5 3 5 6 3 8 3 10 7.3 10 7.3 16 8.7 16 8.7 10 13 10 13 8" />
                </g>
            </svg>
        </div>

        <div class="note-colour {{ note.colour + '-note' }}"></div>
    </div>
</div>
