:host {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem !important;
    right: 0 !important;
    bottom: 0 !important;
    position: fixed !important;
    position: absolute;
    z-index: 1090;
    width: max-content;
    max-width: 100%;
}
