.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

thead {
    background: var(--text-area-border);
    position: sticky;
    top: 0;
}

.dialog {
    background: var(--body-bg);
    border-radius: 8px;
    width: 800px; /* Increased width for a wider dialog */
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    position: fixed;
    top: 10%;

    .dialog-body {
        padding: 0 0 1rem;
    }

    .dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--card-cap-bg);
        border-radius: 8px 8px 0 0;
        padding: 0.25rem 0 0.25rem 1rem;

        // border-bottom: 1px solid #ddd;

        .dialog-title {
            margin: 0;
            font-size: 1.25rem;
            font-weight: bold;
        }

        .close-btn {
            background: none;
            border: none;
            font-size: 1.25rem;
            cursor: pointer;
            color: var(--body-color);

            &:hover {
                color: #007bff;
            }
        }
    }

    .notes-count {
        font-size: 1.25rem;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }

    .dialog-content {
        display:flex;
        margin-top: 0.5rem;
        flex-direction:column;
        align-items: center;
        margin-bottom: 1rem;
        max-height: 60vh;
        overflow-y: auto;

        .selected-notes-table {
            width: 97%;
            margin:auto;
            border-collapse: collapse;
            text-align: left;

            thead {
                // background-color: #f4f4f4;

                th {
                    padding: 0.75rem;
                    font-weight: bold;
                    text-align: left;
                }
            }

            tbody {
                tr {
                    border: 1px solid var(--border);

                    &:nth-child(even) {
                        // background-color: var(--selected-note-list-item-bg-color);
                    }

                    &:hover {
                        // background-color: var(--active-list-link);
                    }
                }

                td {
                    padding: 0.75rem;
                    text-align: left; /* Center-align table data */
                }
            }
        }
    }

    .dialog-actions {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;

        .cancel-btn {
            // background: #ccc;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            cursor: pointer;

            // &:hover {
            //     background: #bbb;
            // }
        }

        .apply-btn {
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

::-webkit-scrollbar {
    width: 0.85rem;
}

::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}
