<p></p>

<app-wz-common>
  <div class="col-6 text-center">
    <a
      href="#"
      class="btn btn-outline-primary btn-lg"
      [routerLink]="['/wizard/feature']"
      role="button"
      aria-pressed="true"
    >
      <i class="fa fa-circle-left" aria-hidden="true"></i>
      Back
    </a>
  </div>

  <div class="col-6 text-center">
    <a href="#" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">
      <i class="fa fa-checkmark" aria-hidden="true"></i>
      Complete
    </a>
  </div>
</app-wz-common>
