<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et leo quis elit sollicitudin venenatis non sed enim. Donec eget eros in mi porttitor commodo. Fusce aliquet nulla id velit scelerisque, et malesuada urna venenatis. Vivamus tempus, velit eget dictum ornare, lectus turpis luctus orci, et molestie velit nisi eu est. Suspendisse rhoncus massa hendrerit elit porta, ac vulputate sapien placerat. Nulla ex tortor, suscipit eu faucibus vel, imperdiet id lacus. Etiam malesuada sem et mauris dignissim, ac aliquam mi iaculis. Vestibulum faucibus posuere gravida. Nulla porta augue nec porttitor finibus. Morbi lobortis, dui posuere venenatis ultricies, nibh dolor convallis elit, at varius orci metus sed arcu. Nam eget nulla congue, imperdiet ipsum vitae, congue eros. </p>

<app-wz-common>
  <div class="col-6 text-center">
    <a href="#" class="btn btn-outline-primary btn-lg" [routerLink]="['/wizard/feature']" role="button" aria-pressed="true">
      <i class="fa fa-circle-left" aria-hidden="true"></i>
      Back
    </a>
  </div>

  <div class="col-6 text-center">
    <a href="#" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">
      <i class="fa fa-checkmark" aria-hidden="true"></i>
      Complete
    </a>
  </div>
</app-wz-common>
