<!-- <div class="view"> -->
  <!-- <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"> -->
<div class="d-flex justify-content-end">
  <div class="mr-auto p-2">
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{todo.title}}</span>
    </label>
  </div>
  <div class="p-2">
    <button class="btn btn-danger btn-sm" (click)="removeTodo(todo)" >Delete</button>
  </div>
</div>
  <!-- <button class="destroy" (click)="removeTodo(todo)">X</button> -->
<!-- </div> -->
