.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.backDropHide {
    background: rgba(0, 0, 0, 0);
}

.dialog {
    outline: none;
    background: var(--body-bg);
    padding: 0;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-in-out;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
}

.dialog-header {
    // background-color: #f5f5f5;
    background: var(--card-cap-bg);
    padding: 5px 9px 5px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    // border-bottom: 1px solid var(--primary);
}

.warning-header {
    background: #fec901;
}

.btn-yes {
    background: #c86161;
}

.btn-yes:hover {
    background: #d07373;
}

.close-btn {
    cursor: pointer;
    font-size: 26px;
    // color: #666;
    // font-weight: bold;
    transition: color 0.2s;
    padding: 5px;
    color: var(--secondary);
}

.close-btn:hover {
    color: var(--btn-bg-hover-color);
}

.dialog-body {
    padding: 20px;
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-icon {
    padding-right: 25px;
    padding-left: 25px;
    height: 40px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px 20px;
    gap: 12px;
    // border-top: 1px solid var(--primary);
}

.dialog-actions button {
    flex: 1;
    min-width: 90px;
    padding: 10px 0;
    font-size: 0.95rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    // background-color: var(--primary);
    color: white;
    transition: background-color 0.2s ease;
}

.dialog-actions button:hover {
    // color: var(--body-color);
    // filter: brightness(80%);
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
