<div class="backdrop" [class.backDropHide]="!showBackDrop" (click)="onBackdropClick()">
    <div class="dialog" (click)="$event.stopPropagation()" tabindex="0">
        <div class="dialog-header">
            <div>{{ title }}</div>
            <div class="close-btn" (click)="close(dialogResponse.CANCEL)">✕</div>
        </div>

        <div class="dialog-body">
            <p [innerHTML]="message"></p>

            @if (imgSrc) {
                <app-svg-icon width="40" height="40" src="{{ imgSrc }}" class="sign-icon"></app-svg-icon>
            }
        </div>

        <div class="dialog-actions">
            @switch (dialogType) {
                @case (dialogTypes.YES_NO) {
                    <button (click)="close(dialogResponse.NO)">No</button>
                    <button class="btn-yes" (click)="close(dialogResponse.YES)">Yes</button>
                }
                @case (dialogTypes.CANCEL_ONLY) {
                    <button (click)="close(dialogResponse.CANCEL)">Cancel</button>
                }
                @case (dialogTypes.OK_ONLY) {
                    <button (click)="close(dialogResponse.OK)">Ok</button>
                }
                @case (dialogTypes.CLOSE_ONLY) {
                    <button (click)="close(dialogResponse.CLOSE)">Close</button>
                }
                @default {}
            }
        </div>
    </div>
</div>
