<div class="backdrop" (click)="onBackdropClick()">
    <div class="dialog" (click)="$event.stopPropagation()" tabindex="0">
        <div class="dialog-header">
            <div>{{ title }}</div>
            <div class="close-btn" (click)="close(dialogResponse.CANCEL)">✕</div>
        </div>

        <div class="dialog-body">
            <p [innerHTML]="message"></p>
        </div>

        <div class="dialog-actions">
            <button
                class="btn-yes"
                *ngIf="buttons === dialogButtons.YES_NO"
                (click)="close(dialogResponse.YES)">
                Yes
            </button>
            <button *ngIf="buttons === dialogButtons.YES_NO" (click)="close(dialogResponse.NO)">No</button>
            <button *ngIf="buttons === dialogButtons.CANCEL_ONLY" (click)="close(dialogResponse.CANCEL)">
                Cancel
            </button>
            <button *ngIf="buttons === dialogButtons.OK_ONLY" (click)="close(dialogResponse.OK)">Ok</button>
            <button *ngIf="buttons === dialogButtons.CLOSE_ONLY" (click)="close(dialogResponse.CLOSE)">
                Close
            </button>
        </div>
    </div>
</div>
