.backdrop {
    position: fixed;
    inset: 0;

    // background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.back-drop-hide {
    background: rgb(0 0 0 / 0%);
}

.back-drop-enter {
    animation: slide-fade-in-backdrop 0.25s;
}

.back-drop-leave {
    animation: slide-fade-out-backdrop 1s;
}

.dialog-enter {
    animation: dialog-slide-fade-in 0.5s;
}

.dialog-leave {
    animation: dialog-slide-fade-out 0.5s;
}

@keyframes dialog-slide-fade-in {
    from {
        opacity: 0;

        // transform: translateY(20px);
        transform: scale(90%);
    }

    to {
        opacity: 1;

        // transform: translateY(0);
        transform: scale(100%);
    }
}

@keyframes dialog-slide-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes slide-fade-in-backdrop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-fade-out-backdrop {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.dialog {
    outline: none;
    background: var(--body-bg);
    padding: 0;
    border-radius: 10px;
    border: 1px solid var(--border);
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 24px rgb(0 0 0 / 20%);

    // animation: fade-in 0.2s ease-in-out;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
}

.dialog-header {
    // background-color: #f5f5f5;
    background: var(--card-cap-bg);
    padding: 5px 9px 5px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;

    // border-bottom: 1px solid var(--primary);
}

.warning-header {
    background: #fec901;
}

.btn-yes {
    background: #c86161;
}

.btn-yes:hover {
    background: #d07373;
}

.close-btn {
    cursor: pointer;
    font-size: 26px;

    // color: #666;
    // font-weight: bold;
    transition: color 0.2s;
    padding: 5px;
    color: var(--secondary);
}

.close-btn:hover {
    color: var(--btn-bg-hover-color);
}

.dialog-body {
    padding: 20px;
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-icon {
    padding-right: 25px;
    padding-left: 25px;
    height: 40px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px 20px;
    gap: 12px;

    // border-top: 1px solid var(--primary);
}

.dialog-actions button {
    flex: 1;
    min-width: 90px;
    padding: 10px 0;
    font-size: 0.95rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    // background-color: var(--primary);
    color: white;
    transition: background-color 0.2s ease;
}

.dialog-actions button:hover {
    // color: var(--body-color);
    // filter: brightness(80%);
}

// @keyframes fade-in {
//     from {
//         transform: scale(0.9);
//         opacity: 0;
//     }

//     to {
//         transform: scale(1);
//         opacity: 1;
//     }
// }
