<div class="row g-0 note-div ">
  <div class="col-lg-3 col-md-4 notes-navigation">
    <!-- <ng-scrollbar class="ng-scrollbar"> -->
    <div class="note-menu">
      Notes

      <svg class="archive-note-icon" [ngbTooltip]="'Archived Notes'" (click)="archivedNotes()"
        enable-background="new 0 0 256 256" version="1.1" viewBox="0 0 256 256" height="22" width="22"
        xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
        <g id="g8">
          <g id="g6">
            <path id="path4"
              d="m172.2 54.3h-88.5v14.7h88.5v-14.7zm51.7-44.3h-191.8l-22.1 132.8v103.2h236v-103.2l-22.1-132.8zm-179.1 14.8h166.5l17.7 118h-64.1v29.4h-73.8v-29.4h-64.1l17.8-118zm186.4 206.4h-206.5v-73.2l0.1-0.6h51.5v29.6h103.2v-29.5h51.5l0.1 0.6 0.1 73.1zm-44.2-132.7h-118v14.7h118v-14.7z" />
          </g>
        </g>
      </svg>

      <svg class="add-note-icon" [ngbTooltip]="'Add new note'" (click)="onAddNote('')" id="svg8" width="26" height="26"
        enable-background="new 0 0 40 40" version="1.1" viewBox="0 0 26 26">
        <path id="path2"
          d="m10 7h-10v19h11v-8h8v-2c-5 0-9-4-9-9zm3 19 6-6h-6zm6-26c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm4 8h-3v3h-2v-3h-3v-2h3v-3h2v3h3z"
          clip-rule="evenodd" fill-rule="evenodd" />
      </svg>
    </div>
    <div class="main-note-list">
      <div class="list-notes">
        <div class="note-menu-fill">
        </div>

        @if( (Notes | async).length) {

        @for(note of Notes | async ; track note){

        <div class="note-border">

          <div [@.disabled]="!(Animate | async)?.text" [@fadeInOutNoteListItem] class="note-wrapper">
            <div class="note-list" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['active']"
              [routerLink]="['/notes',note.id]"> </div>
          </div>

          <div class="menu del-button" (click)="onNoteDelete(note)">
            <svg class="archive-note-button-icon" enable-background="new 0 0 256 256" version="1.1"
              viewBox="0 0 256 256" height="20" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
              <g id="g8">
                <g id="g6">
                  <path id="path4"
                    d="m172.2 54.3h-88.5v14.7h88.5v-14.7zm51.7-44.3h-191.8l-22.1 132.8v103.2h236v-103.2l-22.1-132.8zm-179.1 14.8h166.5l17.7 118h-64.1v29.4h-73.8v-29.4h-64.1l17.8-118zm186.4 206.4h-206.5v-73.2l0.1-0.6h51.5v29.6h103.2v-29.5h51.5l0.1 0.6 0.1 73.1zm-44.2-132.7h-118v14.7h118v-14.7z" />
                </g>
              </g>
            </svg>
          </div>

          <div class="item">
            <div [routerLinkActiveOptions]="{exact:false}" [routerLink]="['/notes',note.id]"
              [routerLinkActive]="['active-text']" class="mb-1 note-text"> {{ (note.text) ? (note.text |
              noteTitleTruncate
              : '20' : true) : 'Untitled' }} </div>
          </div>

          <small [routerLinkActiveOptions]="{exact:false}" [routerLink]="['/notes',note.id]"
            [routerLinkActive]="['active-text']" class="date-modified text-muted"
            [@.disabled]="!(Animate | async)?.text" [@fadeInOutNoteListItem]
            [ngbTooltip]="'Last Modified On ' + (note.dateModified | date: 'medium')"> {{
            note.dateModified | dateago }}</small>

          <div class="pin-wrapper" (click)="updatePinOrder(note)" [routerLinkActiveOptions]="{exact:false}"
            [routerLinkActive]="['']" [routerLink]="['/notes',note.id]">
            <svg id="Layer_1" enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <path class="pin" [ngClass]="note.pinOrder ? 'pinned' : 'newpin'" id="path2"
                d="m130.29 4.535c2.8148-2.5879 6.6209-4.0478 10.595-4.0582l209.48-1.0023c8.2668-0.039556 14.963 6.0727 14.963 13.659 0 18.673-10.231 32.289-19.33 40.708-3.7687 3.4506-7.4812 6.1887-10.595 8.2374v121.68l2.3379 1.3104c6.0785 3.455 14.242 8.5562 22.472 15.133 15.888 12.659 35.04 33.214 35.04 59.937 0 7.586-6.6957 13.762-14.963 13.802l-119.7 0.57276v123.57c0 7.5774-6.7051 41.223-14.963 41.262-8.2574 0.0395-14.963-33.542-14.963-41.119v-123.57l-119.7 0.57276c-8.2668 0.03956-14.963-6.0727-14.963-13.659 0-26.723 19.152-47.461 35.012-60.28 7.7431-6.2071 16.057-11.782 24.838-16.681v-121.68c-3.778-2.4362-7.3129-5.1568-10.595-8.136-9.0991-8.3233-19.33-21.867-19.33-40.515-9e-3 -3.6471 1.5617-7.1472 4.3672-9.7436z"
                fill="none" stroke="#000" stroke-opacity=".063583" stroke-width=".996" />
            </svg>
          </div>
        </div>

        }

        } @else() {
        <div class="no-content"> No notes</div>
        }
      </div>
      <div class="filler"></div>

    </div>
    <!-- </ng-scrollbar> -->
  </div>

  <div class="pl-2 col-lg-9 col-md-8 notes-detail">
    <div class="d-flex h-100 flex-column">
      <div class="h-100 router-outlet">
        @if( route.url === '/notes') {
        <div class="note-select-info">
          <svg id="svg11" width="100%" height="100%" version="1.1" viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg">
            <g id="Page-1" fill="none" fill-rule="evenodd">
              <g id="icon-44-note-text" fill="#929292">
                <path id="note-text"
                  d="m5 11v14.999c0 1.0992 0.89277 2.0009 1.9941 2.0009h14.006v-6.0019c0-1.1114 0.89808-1.9981 2.0059-1.9981h4.9941v-9h-23zm0-1v-2.9991c0-1.105 0.90163-2.0009 2.0009-2.0009h18.998c1.105 0 2.0009 0.8934 2.0009 1.9919v3.0081h-23zm17 18v-5.9971c0-0.5539 0.45098-1.0029 0.99078-1.0029h5.0092l-6 7zm-14-14v1h17v-1h-17zm0 3v1h17v-1h-17zm0 3v1h11v-1h-11zm0 3v1h11v-1h-11z" />
              </g>
            </g>
          </svg>
        </div>
        }
        <router-outlet name="dialog"></router-outlet>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
