.red-note{
  background: -webkit-linear-gradient(#F9AFAF, #F78D8D);
  background: -moz-linear-gradient(#F9AFAF, #F78D8D);
  background: -o-linear-gradient(#F9AFAF, #F78D8D);
  background: -ms-linear-gradient(#F9AFAF, #F78D8D);
  background: linear-gradient(#F9AFAF, #F78D8D);
  color: black;

  svg {
    fill:black;
  }
}

.green-note{
  background: -webkit-linear-gradient(#AFF9B0, #9FF78D);
  background: -moz-linear-gradient(#AFF9B0, #9FF78D);
  background: -o-linear-gradient(#AFF9B0, #9FF78D);
  background: -ms-linear-gradient(#AFF9B0, #9FF78D);
  background: linear-gradient(#AFF9B0, #9FF78D);
  color: black;

  svg {
    fill:black;
  }
}

.violet-note{
  background: -webkit-linear-gradient(#B3AFF9, #968DF7);
  background: -moz-linear-gradient(#B3AFF9, #968DF7);
  background: -o-linear-gradient(#B3AFF9, #968DF7);
  background: -ms-linear-gradient(#B3AFF9, #968DF7);
  background: linear-gradient(#B3AFF9, #968DF7);
  color: black;

  svg {
    fill:black;
  }
}

.yellow-note{
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
  color: black;

  svg {
    fill:black;
  }
}

.blue-note{
  background: -webkit-linear-gradient(#72b2eb, #4ea0f2);
  background: -moz-linear-gradient(#72b2eb, #4ea0f2);
  background: -o-linear-gradient(#72b2eb, #4ea0f2);
  background: -ms-linear-gradient(#72b2eb, #4ea0f2);
  background: linear-gradient(#72b2eb, #4ea0f2);
  color: black;

  svg {
    fill:black;
  }
}

.none-note {
  background: var(--bs-body-bg);
}
