@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:host {
  display:block;
  height: calc(100vh - 150px);;
}

a {
  color: $primary;
}

.active {
  background: lighten($secondary, 45%);
  color: $black;
  border: none;
}

.area {
  background: grey;
  padding: 40px;
}

.relative {
  position: relative;
}

.menu {
  position: absolute;
  right:0px;
  z-index:2;
  padding:15px;
  color: lighten($secondary, 30%);
}

.menu:hover {
  color: lighten($primary, 20%);
}

.menuButtonHighlight{
  color: lighten($primary, 20%);
}

.container {
    height: 100vh;
    overflow: auto;
}
