:host {
  display:block;
  flex: 1 1 auto;
}

.note-div {
  height:100%;
}

.list-notes {
  // width: calc(100% - 50px);
  // --hh: calc(100%);
  // width: var(--hh);
  // position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;

  // width: calc(100% - 50px);
  // width: 100%;
  width: 24.5vw;

}

.note-menu {
  position:relative;
  border-right: 1px solid var(--border);
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.25rem;
  color: var(--secondary);
  z-index:2;
  background: var(--bs-body-bg);
}

.note-menu-fill {
  height: 3rem;
}

.no-content {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  margin:auto;
  color: var(--bs-secondary);
}

.note-border {
  position:relative;
  border-top: 1px solid var(--border);
}

.main-note-list {
  position: absolute;
  // margin-top:3rem;
  display: flex;
  flex-direction: column;
  top:0px;
  left:0px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  // scrollbar-gutter: auto;
  border-right: 1px solid var(--border);
}

.main-note-list::-webkit-scrollbar {
  // height: 16px;
  // overflow: visible;
  // width: 16px;
  // display: none;
}

.router-outlet {
  position: relative;
}

.filler {
  display: block;
  position: relative;
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  // height: 100%;
  flex-grow: 1;
  width: 24.5vw;
}

*::-webkit-scrollbar-track {
   background: var(--scrollbar-track-color);
  margin-top: 3rem;
 // background: red;
}

*::-webkit-scrollbar-track-piece:end {

}

*::-webkit-scrollbar {
  width: 0.65rem;
}

*::-webkit-scrollbar-button {
  // border: 5px solid red;
  position: absolute;
  display:none;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  // border: 1px solid #ffffff40;
  border-radius: 0.5rem;
}

.notes-navigation {
  position:relative;
}

.date-modified {
  cursor:pointer;
  position: absolute;
  bottom: 0.25rem;
  padding-left: 0.75rem;
}

.note-wrapper {
  padding:0;
  height: 3.5rem;
  // border: 1px solid var(--border);
  // border-right:none;
  border-right: 1px solid var(--border);
  // padding-right: 1rem;
}

.note-list {
  position:relative;
  width: 100%;
  height: 100%;
  cursor:pointer;
  margin-right: 1rem;
}

.note-wrapper:hover {
  background: var(--active-list-link-hover);
  border:none;
}

.pin-wrapper {
  position: absolute;
  z-index: 1;
  top: 0.25rem;
  border: none;
  height: 3rem;
  width: 3rem;
  transition: all 0.5s ease;
  cursor: pointer;
  right: 0px;
  padding: 0.75rem;
  // margin-right: 1rem;

  & * {
    transition: all 0.25s ease;
    transform-box: fill-box;
    transform-origin: center;
  }

  & .newpin {
    fill:#c7c7c7;
    transform: rotate(90deg);
  }

  & .pinned {
    fill: var(--note-pin-fill);
  }
}

.pin-wrapper:hover {

  & .pinned {
    fill: var(--note-pin-fill);
  }

  & .newpin {
    transform: rotate(0deg);
    // fill: var(--note-pin-fill);
  }
}

.note-list-item {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  padding-left: 0.75rem;
}

.item {
  cursor:pointer;
  pointer-events: none;
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
}

.active-text {
  color: var(--b-active-link-color) ! important;
}

.active {
  color: var(--bs-list-group-action-hover-color) ! important;
  text-decoration: none;
  background-color: var(--active-list-link);
  border: 1px solid var(--active-list-link-border-color)
}

.menu {
  cursor:pointer;
}

.menu:hover {
  color: #f3828d
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px solid var(--border);
  padding: 1rem;
}

.add-note-icon {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  bottom: 0;

  fill: rgb(from var(--b-active-link-color) r g b / 65%);
  cursor: pointer;
  z-index: 100;

  :hover {
    fill: #5aba5a;
  }
}

.archive-note-icon {
  fill: var(--b-active-link-color);
  cursor: pointer;
  position: absolute;
  top: 0.85rem;
  right: 4rem;
  bottom: 0;

  :hover {
    color: var(--list-link-hover);
  }
}

.archive-note-button-icon {

  fill: rgb(from var(--bs-warning)r g b /55%);

  :hover {
    fill:var(--bs-warning);
  }

}
.note-text {
  // font-size: 1rem;
  // color: var(--bs-card-cap-color);
}

.del-button {
  color: var(--del-button-note);
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-right:2rem;
  position: absolute;
  right: 1rem;
  margin: auto;
  top: 0rem;
  bottom: 0;
}
