<div class="header">
    <!-- <h2>Notes: {{ TotalNotesCount | async }}</h2> -->

    <div class="form-group">
        <!-- <label>Owner</label> -->
        <!-- <input formControlName="owner" type="text" /> -->
        <!-- {{ (Owners | async) | json}} -->
        <select
            #selectUser
            (change)="updateSelectedUser()"
            [class.active]="selectUserElementRef().nativeElement.selectedIndex">
            <option [value]="'0'">All ({{ TotalNotesCount | async }})</option>
            @for ((user of Owners | async); track $index) {
                <option [value]="user[0]">{{ user[0] }} ({{ user[2] }})</option>
            }
        </select>
        <select [hidden]="true" #selectUserId>
            <option [value]="'0'">All</option>
            @for ((user of Owners | async); track $index) {
                <option [value]="user[1]">{{ user[1] }}</option>
            }
        </select>
    </div>
    <div class="search-wrapper">
        <input
            type="text"
            placeholder="Search"
            [class.active]="searchTerm$.value.length"
            [value]="searchTerm$.value"
            (input)="onSearchInput($event)" />
        <button *ngIf="searchTerm$.value" class="clear-btn" (click)="clearSearch()">×</button>
    </div>
    @if (searchTerm$.value || selectedUserId$.value) {
        <span class="clear-filter" (click)="clearFilter()">x</span>
    }
</div>
<table>
    <tr>
        <th></th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'header' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'header' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('header')">
            Header
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'owner' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'owner' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('owner')">
            Owner
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'active' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'active' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('active')">
            Active
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'archived' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'archived' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('archived')">
            Archived
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'pinned' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'pinned' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('pinned')">
            Pinned
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'dateArchived' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="
                (sortField$ | async) === 'dateArchived' && (sortDirection$ | async) === 'desc'
            "
            (click)="updateSort('dateArchived')">
            Date Archived
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'spellCheck' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'spellCheck' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('spellCheck')">
            Spell Check
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'colour' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'colour' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('colour')">
            Colour
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'dateCreated' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="
                (sortField$ | async) === 'dateCreated' && (sortDirection$ | async) === 'desc'
            "
            (click)="updateSort('dateCreated')">
            Created
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'dateModified' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="
                (sortField$ | async) === 'dateModified' && (sortDirection$ | async) === 'desc'
            "
            (click)="updateSort('dateModified')">
            Last Modified
        </th>
    </tr>
    @for (note of filteredNotes$ | async; track $index) {
        <tr (click)="onClick(note)" class="row" [class.inactive]="!note.active">
            <td>{{ $index + 1 }}</td>
            <td>{{ note.header }}</td>
            <td>{{ note.owner }}</td>
            <td>{{ note.active }}</td>
            <td>{{ note.archived }}</td>
            <td>{{ note.pinned }}</td>
            <td>{{ note.dateArchived | date: 'medium' }}</td>
            <td>{{ note.spellCheck }}</td>
            <td>{{ note.colour }}</td>
            <td>{{ note.dateCreated | date: 'medium' }}</td>
            <td>{{ note.dateModified | date: 'medium' }}</td>
        </tr>
    }
</table>

@if (SelectedNote | async) {
    <app-edit-note-dialog [note]="SelectedNote | async" (closed)="onClose()" (saved)="onSaved($event)">
    </app-edit-note-dialog>
}
