<div class="header">
    <div class="form-group">
        <select
            [value]="selectedUserId$ | async"
            (change)="updateSelectedUser($event)"
            [class.active]="selectedUserId$.value">
            <option [value]="''">All ({{ TotalNotesCount | async }})</option>
            @for (user of Owners | async; track user) {
                <option [value]="user[1]">{{ user[0] }} ({{ user[2] }})</option>
            }
        </select>
    </div>
    <div class="search-wrapper">
        <input
            type="text"
            placeholder="Search"
            [class.active]="searchTerm$.value.length"
            [value]="searchTerm$.value"
            (input)="onSearchInput($event)" />
        @if (searchTerm$.value) {
            <button class="clear-btn" (click)="clearSearch()">×</button>
        }
    </div>
    @if (searchTerm$.value || selectedUserId$.value) {
        <span class="clear-filter" (click)="clearFilter()">x</span>
    }
    @if (selectedNotes.length) {
        <button class="delete-btn" (click)="openBulkUpdateDialog()">Bulk Update</button>
        <div>Selected {{ selectedNotes.length }}</div>
    }
</div>

<table>
    <tr>
        <th>
            <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="areAllNotesSelected()" />
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'header' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'header' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('header')">
            Header
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'owner' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'owner' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('owner')">
            Owner
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'active' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'active' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('active')">
            Active
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'archived' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'archived' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('archived')">
            Archived
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'pinned' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'pinned' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('pinned')">
            Pinned
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'dateArchived' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="
                (sortField$ | async) === 'dateArchived' && (sortDirection$ | async) === 'desc'
            "
            (click)="updateSort('dateArchived')">
            Date Archived
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'spellCheck' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'spellCheck' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('spellCheck')">
            Spell Check
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'colour' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="(sortField$ | async) === 'colour' && (sortDirection$ | async) === 'desc'"
            (click)="updateSort('colour')">
            Colour
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'dateCreated' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="
                (sortField$ | async) === 'dateCreated' && (sortDirection$ | async) === 'desc'
            "
            (click)="updateSort('dateCreated')">
            Created
        </th>
        <th
            [class.sorted-asc]="(sortField$ | async) === 'dateModified' && (sortDirection$ | async) === 'asc'"
            [class.sorted-desc]="
                (sortField$ | async) === 'dateModified' && (sortDirection$ | async) === 'desc'
            "
            (click)="updateSort('dateModified')">
            Last Modified
        </th>
    </tr>
    @for (note of filteredNotes$ | async; track $index) {
        <tr (click)="onClick(note)" class="row" [class.inactive]="!note.active">
            <td (click)="$event.stopPropagation()">
                <label>
                    <input
                        type="checkbox"
                        [checked]="isNoteSelected(note)"
                        (change)="toggleNoteSelection(note, $event)" />
                </label>
            </td>
            <td>{{ note.header }}</td>
            <td>{{ note.owner }}</td>
            <td>{{ note.active }}</td>
            <td>{{ note.archived }}</td>
            <td>{{ note.pinned }}</td>
            <td>{{ note.dateArchived | date: 'medium' }}</td>
            <td>{{ note.spellCheck }}</td>
            <td>{{ note.colour }}</td>
            <td>{{ note.dateCreated | date: 'medium' }}</td>
            <td>{{ note.dateModified | date: 'medium' }}</td>
        </tr>
    }
</table>

@if (showBulkUpdateDialog) {
    <app-bulk-update-dialog
        [users]="Owners | async"
        (closed)="closeBulkUpdateDialog()"
        (updated)="applyBulkUpdate($event)">
    </app-bulk-update-dialog>
}

@if (SelectedNote | async) {
    <app-edit-note-dialog [note]="SelectedNote | async" (closed)="onClose()" (saved)="onSaved($event)">
    </app-edit-note-dialog>
}
