<div class="note-left-menu">
    @if (!searchVisible) {
        <app-svg-icon
            class="searchIcon"
            height="25"
            width="25"
            (clicked)="showSearch()"
            src="assets/images/search.svg"></app-svg-icon>
        <div class="note-count" (click)="showSearch()">Notes ({{ NotesCount | async }})</div>
        <app-svg-icon
            height="21"
            width="21"
            (clicked)="routeToArchivedNotes()"
            class="archive-note-icon"
            src="assets/images/archive.svg"></app-svg-icon>

        <app-svg-icon
            height="26"
            width="26"
            (clicked)="createNewNote()"
            class="add-note-icon"
            src="assets/images/add.svg"></app-svg-icon>
    } @else {
        <div class="search">
            <input
                #search
                spellcheck="false"
                (mouseup)="onSearchInputFocus($event)"
                type="text"
                placeholder="Search"
                class="searchInput"
                [class.active]="searchTerm$.value.length"
                [hidden]="!searchVisible"
                [value]="searchTerm$.value"
                (input)="onSearchInput($event)" />
            <app-svg-icon (clicked)="clearSearch()" class="closex" src="assets/images/x.svg"></app-svg-icon>
        </div>
    }
</div>
<div class="main-note-list">
    <div class="list-notes">
        @if (NoteLoading | async) {
            <div class="no-content">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                    <!-- <span class="visually-hidden">Loading...</span> -->
                </div>
            </div>
        } @else if (notes.length === 0) {
            <div class="no-content">No notes</div>
        } @else {
            @for (note of notes; track note) {
                <app-note-list-item
                    [note]="note"
                    [animate]="Animate | async"
                    [selectedNote]="SelectedNote | async"
                    (selectNote)="selectNote($event)"
                    (archiveNote)="onArchiveNote($event)"
                    (changePineOrder)="updatePinOrder($event)">
                </app-note-list-item>
            }
        }
    </div>
</div>
