<div class="note-left-menu">
    @if (!searchVisible) {
        <img (click)="showSearch()" src="assets/images/search.svg" />
        <div>Notes ({{ NotesCount | async }})</div>
    } @else {
        <div class="search">
            <input
                type="text"
                placeholder="Search"
                class="searchInput"
                [class.active]="searchTerm$.value.length"
                [hidden]="!searchVisible"
                [value]="searchTerm$.value"
                (input)="onSearchInput($event)" />
            <!-- <div class="closex" (click)="clearSearch()" [hidden]="!searchVisible">X</div> -->
            <img class="closex" (click)="clearSearch()" src="assets/images/x.svg" />
        </div>
    }

    <svg
        class="archive-note-icon"
        (click)="routeToArchivedNotes()"
        enable-background="new 0 0 256 256"
        version="1.1"
        viewBox="0 0 256 256"
        height="22"
        width="22"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg">
        <g id="g8">
            <g id="g6">
                <path
                    id="path4"
                    d="m172.2 54.3h-88.5v14.7h88.5v-14.7zm51.7-44.3h-191.8l-22.1 132.8v103.2h236v-103.2l-22.1-132.8zm-179.1 14.8h166.5l17.7 118h-64.1v29.4h-73.8v-29.4h-64.1l17.8-118zm186.4 206.4h-206.5v-73.2l0.1-0.6h51.5v29.6h103.2v-29.5h51.5l0.1 0.6 0.1 73.1zm-44.2-132.7h-118v14.7h118v-14.7z" />
            </g>
        </g>
    </svg>

    <svg
        class="add-note-icon"
        (click)="createNewNote()"
        width="26"
        height="26"
        enable-background="new 0 0 40 40"
        version="1.1"
        viewBox="0 0 26 26">
        <path
            id="path2"
            d="m10 7h-10v19h11v-8h8v-2c-5 0-9-4-9-9zm3 19 6-6h-6zm6-26c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm4 8h-3v3h-2v-3h-3v-2h3v-3h2v3h3z"
            clip-rule="evenodd"
            fill-rule="evenodd" />
    </svg>
</div>
<div class="main-note-list">
    <div class="list-notes">
        @if (NoteLoading | async) {
            <div class="no-content">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                    <!-- <span class="visually-hidden">Loading...</span> -->
                </div>
            </div>
        } @else if (notes.length === 0) {
            <div class="no-content">No notes</div>
        } @else {
            @for (note of notes; track note) {
                <app-note-list-item
                    [note]="note"
                    [animate]="Animate | async"
                    [selectedNote]="SelectedNote | async"
                    (selectNote)="selectNote($event)"
                    (archiveNote)="onArchiveNote($event)"
                    (changePineOrder)="updatePinOrder($event)">
                </app-note-list-item>
            }
        }
    </div>
</div>
