<div class="note-left-menu">
    @if (!searchVisible) {
        <app-svg-icon
            class="searchIcon"
            height="25"
            width="25"
            (clicked)="showSearch()"
            src="assets/images/search.svg" />
        <div class="note-count" (click)="showSearch()">Notes ({{ NotesCount | async }})</div>

        @if (notesApiService.IsSyncingRequired | async) {
            <div class="svg-wrap" animate.leave="leaving" animate.enter="enter-animation">
                <app-svg-icon
                    [class.note-syncing]="true"
                    (click)="onSyncNote()"
                    height="20"
                    width="20"
                    class="sync-false"
                    src="assets/images/sync.svg" />
            </div>
        }

        <app-svg-icon
            height="30"
            width="30"
            (clicked)="routeToArchivedNotes()"
            class="archive-note-icon"
            src="assets/images/archive.svg" />

        <app-svg-icon
            height="26"
            width="26"
            (clicked)="onCreateNewNote()"
            class="add-note-icon"
            src="assets/images/add.svg" />
    } @else {
        <div class="search">
            <input
                #search
                spellcheck="false"
                (mouseup)="onSearchInputFocus($event)"
                type="text"
                placeholder="Search"
                class="searchInput"
                [class.active]="searchTerm$.value.length"
                [hidden]="!searchVisible"
                [value]="searchTerm$.value"
                (input)="onSearchInput($event)" />
            <app-svg-icon (clicked)="clearSearch()" class="closex" src="assets/images/x.svg"></app-svg-icon>
        </div>
    }
</div>
<div class="main-note-list">
    <div class="list-notes">
        @if (NoteLoading | async) {
            <div class="no-content">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"></div>
            </div>
        } @else if ((notes$ | async).length === 0) {
            <div class="no-content">No notes</div>
        } @else {
            @for (note of notes$ | async; track note.note_id) {
                <app-note-list-item
                    [note]="note"
                    [animate]="Animate | async"
                    [selectedNote]="selectedNote$ | async"
                    (selectNote)="onSelectNote($event)"
                    (archiveNote)="onArchiveNote($event)"
                    (syncNote)="onSyncNote()"
                    (changePineOrder)="onUpdatePinOrder($event)" />
            }
        }
    </div>
</div>
