:host {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host::-webkit-scrollbar {
    width: 0.85rem;
}

:host::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

:host::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 0.5rem;
}

:host::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

img {
    height: 1.5rem;
    left: 0;
    cursor: pointer;
    margin-right: auto;
}

.note-count {
    cursor: pointer;
}

.searchIcon {
    stroke: var(--note-pin-nofill);
    cursor: pointer;
    margin-right: auto;
}

.search {
    flex: 1 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.note-left-menu {
    display: flex;
    flex-direction: row;
    padding: 0 0.75rem 0 0.75rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    border-right: 1px solid var(--border);
    // text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.25rem;
    color: var(--secondary);
    z-index: 2;
    background: transparent;
    border-bottom: 1px solid var(--border);
    background: var(--bg-hover);
    // margin-right: 0.65rem;
}

.archive-note-icon {
    fill: var(--b-active-link-color);
    cursor: pointer;
    margin-left: auto;
    // position: absolute;
    // top: 0.85rem;
    // right: 4rem;
    // bottom: 0;

    // :hover {
    //     color: var(--list-link-hover);
    // }
}

.archive-note-icon:hover {
    color: var(--list-link-hover);
}

.searchInput {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    border-radius: 0;
    outline: none !important;
    border: none !important;
    background: transparent;
    color: var(--secondary);
}

input::placeholder {
    color: var(--b-secondary);
}

.closex {
    cursor: pointer;
    color: var(--note-pin-nofill);
    stroke: var(--note-pin-nofill);
}

.closex-hide {
    display: none;
}

.searchInput:focus {
    background: transparent;
}

.add-note-icon {
    fill: rgb(from var(--b-active-link-color) r g b / 65%);
    cursor: pointer;
    z-index: 100;
}

.add-note-icon:hover {
    fill: #5aba5a;
}

.main-note-list {
    flex: 1 1 3.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    direction: rtl;
}

.list-notes {
    height: 100%;
    display: flex;
    flex-direction: column;
    // background: var(--body-bg);
    // background: var(--active-list-link);
    direction: ltr;
}

.no-content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: var(--bs-secondary);
}

.spinner-border {
    border: 0.2em solid var(--primary);
    border-right-color: transparent;
}

.main-note-list::-webkit-scrollbar-track {
    background: none;
}

.main-note-list::-webkit-scrollbar {
    margin-top: 3.5rem;
    width: 0.5rem;
}

.main-note-list::-webkit-scrollbar-button {
    display: none;
}

.main-note-list::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: linear-gradient(#5f9cfb, #698fc8, #5f9cfb);
}

.main-note-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#5f9cfb, #b1caf0, #5f9cfb);
}
