:host {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host::-webkit-scrollbar {
    width: 0.85rem;
}

:host::-webkit-scrollbar-button {
    position: absolute;
    display: none;
}

:host::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 0.5rem;
}

:host::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

img {
    height: 1.5rem;
    left: 0;
    cursor: pointer;
    margin-right: auto;
}

.note-count {
    cursor: pointer;
    color: var(--menu-color);
}

.searchIcon {
    // stroke: var(--bs-nav-tabs-link-active-color);
    stroke: var(--menu-color);
    cursor: pointer;
    // margin-right: auto;
}

.searchIcon:hover {
    stroke: var(--note-pin-fill);
}

.search {
    flex: 1 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.note-left-menu {
    display: flex;
    flex-direction: row;
    padding: 0 0.75rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    border-right: 1px solid var(--border);

    // text-align: center;
    height: 3.5rem;
    line-height: 3rem;
    font-size: 1.25rem;
    color: var(--secondary);
    z-index: 2;
    border-bottom: 1px solid var(--border);
    background: var(--text-area-border);

    // margin-right: 0.65rem;
}

.svg-wrap {
    // margin-left: auto;
    width: 1.25rem;
    height: 1.25rem;
}

.leaving {
    animation: rotateOutAnimation 0.75s ease-out forwards;
}

.enter-animation {
    animation: rotateInAnimation 0.25s ease-in forwards;
}

@keyframes rotateInAnimation {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(180deg);
    }
}

@keyframes rotateOutAnimation {
    from {
        opacity: 1;
        transform: rotate(180deg) scale(1);
    }
    to {
        opacity: 0;
        transform: rotate(0deg) scale(0.5);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.note-syncing {
    animation: spin 3s infinite linear;
}

.sync-false {
    // fill: var(--note-pin-fill);
    fill: var(--menu-color);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.sync-false:hover {
    // fill: #5aba5a;
    fill: var(--note-pin-fill);
}

.archive-note-icon {
    fill: var(--bs-secondary-color);
    fill: var(--menu-color);
    cursor: pointer;
    margin-left: auto;

    // position: absolute;
    // top: 0.85rem;
    // right: 4rem;
    // bottom: 0;
}

.archive-note-icon:hover {
    fill: var(--note-pin-fill);
}

// .archive-note-icon:hover {
// color: var(--list-link-hover);
// }

.searchInput {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    border-radius: 0;
    outline: none !important;
    border: none !important;
    background: transparent;
    color: var(--secondary);
}

input::placeholder {
    color: var(--b-secondary);
}

.closex {
    cursor: pointer;
    // color: var(--note-pin-nofill);
    // stroke: var(--note-pin-nofill);
    color: var(--bs-nav-tabs-link-active-color);
    // stroke: var(--bs-nav-tabs-link-active-color);
    stroke: var(--menu-color);
}

.closex:hover {
    stroke: var(--note-pin-fill);
}

.closex-hide {
    display: none;
}

.searchInput:focus {
    background: transparent;
}

.add-note-icon {
    // fill: #5aba5a;
    // fill: rgb(from var(--b-active-link-color) r g b / 65%);
    fill: var(--menu-color);
    cursor: pointer;
    z-index: 100;
}

.add-note-icon:hover {
    // fill: #5aba5a;
    fill: var(--note-pin-fill);
}

.main-note-list {
    flex: 1 1 3.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
    width: 100%;
    direction: rtl;
}

.list-notes {
    height: 100%;
    display: flex;
    flex-direction: column;

    // background: var(--body-bg);
    // background: var(--active-list-link);
    direction: ltr;
}

.no-content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    inset: 0;
    margin: auto;
    color: var(--bs-secondary);
}

.spinner-border {
    border: 0.2em solid var(--primary);
    border-right-color: transparent;
}

.main-note-list::-webkit-scrollbar-track {
    background: none;
}

.main-note-list::-webkit-scrollbar {
    margin-top: 3.5rem;
    width: 0.5rem;
}

.main-note-list::-webkit-scrollbar-button {
    display: none;
}

.main-note-list::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: linear-gradient(#5f9cfb, #698fc8, #5f9cfb);
}

.main-note-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#5f9cfb, #b1caf0, #5f9cfb);
}