<div [tabIndex]="0" class="backDrop" (click)="close()"></div>
<div class="noteDialog">
    <div class="note-modal-header">
        <h4 class="note-modal-title">Are you sure you want to delete this note ?</h4>
        <button type="button" class="closeBtn" aria-label="Close" (click)="no()">X</button>
    </div>
    <div class="note-modal-body">
        {{ note | noteTitleTruncate: '20' : true }}
    </div>
    <div class="note-modal-footer">
        <button type="button" class="noBtn" (click)="no()">No</button>
        <button type="button" ngbAutofocus class="yesBtn" (click)="yes()">Yes</button>
    </div>
</div>
