:host {
    // display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    width: 100%;
}

.activeLink {
    background: var(--filter-boxshadow);
    color: var(--b-active-link-color);
}

.listItem {
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}
