:host {
    // display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    width: 100%;
}

.activeLink {
    background: var(--active-list-link);
}

.listItem {
    cursor: pointer;
    // font-size: 1.2rem;
    padding: 0.75rem;
}
