:host {
    // display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    width: 100%;
}

.active-link {
    background: var(--filter-boxshadow);
    color: var(--b-active-link-color);
}

.list-item {
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}