// :host{
//   width: 100%;
// }

// a:hover, a:focus{
//   color:white;
// }

.list-group-item:last-child {
  margin-bottom: -1px !important;
  border-top-right-radius: none;
  border-top-left-radius: none;

}

.list-group-item:first-child {
  // margin:0;
  margin-bottom: -1px !important;
  border-radius: 0 !important;
}
.list-group-item
{
  margin: 0 !important;
  width: calc(100% - 20px);

}

.active{
  // background-color: lighten(#0275d8,20%);
  // border:none;
}
