<!-- <div class="view"> -->
  <!-- <input class="toggle" type="checkbox" (click)="toggleEventComplete(event)" [checked]="event.complete"> -->
<div class="d-flex justify-content-end">
  <div class="mr-auto p-2">
    <label class="custom-control custom-checkbox mb-0">
      <input type="checkbox" class="custom-control-input" (click)="onComplete()" [checked]="event.complete">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{event.title}}</span>
    </label>
  </div>
  <div class="p-2">

    <a href="#" class="btn btn-success btn-sm" (click)="removeEvent(event)" >
      <span class="fa fa-bin2"></span>
    </a>
  </div>
</div>
