<div class="form-group">
    <section class="main">
        @for (event of events; track event) {
            <li [class.completed]="event.complete">
                <app-event-list-item
                    [@fadeInOutEventListItem]
                    [event]="event"
                    (toggle)="onToggleEvent($event)"
                    (remove)="onRemoveEvent($event)"
                    (update)="onUpdateEvent($event)"
                    (select)="onSelectEvent($event)">
                </app-event-list-item>
            </li>
        }
    </section>
</div>
