<ng-template #popContent>
    <strong>Title &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : </strong>&nbsp;
    {{ facadeNote?.header ? facadeNote?.header : 'Untitled' }}<br />
    <strong>Last Modified &nbsp;:</strong> &nbsp; {{ facadeNote?.dateModified | date: 'medium' }}<br />
    <strong>Date Created &nbsp; :</strong> &nbsp; {{ facadeNote?.dateCreated | date: 'medium' }}<br />
    <strong>Pinned &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> &nbsp;
    {{ facadeNote?.pinned ? 'Yes' : 'No' }}<br />
    <strong>Colour &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> &nbsp;
    {{ facadeNote?.colour ? facadeNote?.colour : 'none' }}<br />
    <strong>Spell Check &nbsp; &nbsp; :</strong> &nbsp; {{ facadeNote?.spellCheck ? 'on' : 'off' }}<br />
    <strong>Owner &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> &nbsp; {{ facadeNote?.owner }}
</ng-template>
<div class="note-background" [ngClass]="note.colour + '-note'">
    <div class="note-menu">
        <div class="note-header">
            <app-note-header-control
                #noteHeader
                [note]="facadeNote"
                (noteUpdateNoteHeader)="handleNoteHeaderUpdate($event)">
            </app-note-header-control>
        </div>

        <div class="menu-icons">
            <div
                appTooltip="Toggle Spell Check"
                [position]="tooltipPosition"
                [ngClass]="{ 'spell-check-active': facadeNote.spellCheck }"
                (click)="spellCheckToggle(facadeNote)">
                <app-svg-icon
                    height="25"
                    width="25"
                    [class]="facadeNote.spellCheck ? 'spell-check-active' : 'spell-check'"
                    src="assets/images/spell.svg"></app-svg-icon>
            </div>

            <app-note-colour-selector
                [note]="facadeNote"
                #noteColourSelector
                (noteColourUpdate)="handleNoteColourUpdate($event)"
                class="menu-icon"></app-note-colour-selector>

            <div class="trash-icon menu-icon" (click)="noteArchive_click(note)">
                <app-svg-icon height="25" width="25" src="assets/images/trash.svg"></app-svg-icon>
            </div>

            <div class="info-icon menu-icon popover-content" (click)="noteInfoClick(facadeNote)">
                <app-svg-icon height="25" width="25" src="assets/images/info.svg"></app-svg-icon>
            </div>
        </div>
    </div>

    @if (note) {
        <app-textarea-expanded
            [note]="note"
            [facadeNote]="facadeNote"
            #textAreaExpanded
            (textAreaSelectionChange)="selectionChange($event)"
            (textAreaTextChanged)="handleNoteTextUpdate($event)"
            (textAreaUpdatedOpendNote)="onUpdatOpendNote($event)">
        </app-textarea-expanded>
    }

    <div class="info" (click)="noteInfoClick(facadeNote)">
        <div class="wc"><strong>Word Count: </strong>{{ getCount(facadeNote, 'word') }}</div>
        |
        <!-- <div class="wc"><strong>Line Count: </strong>{{ getCount(facadeNote, 'line') }}</div> | -->
        <div class="wc"><strong>Spell Check: </strong>{{ facadeNote?.spellCheck ? 'on' : 'off' }}</div>
    </div>
</div>
