:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    // color: var(--bs-dark);
}

.note-background {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    padding: 0.5rem;

    // border:2px solid red;
    // border-top: 1px solid var(--border);
    // background: grey;
}

.note-header {
    flex-basis: 50%;
}

.spell-check {
    cursor: pointer;
    fill: var(--b-secondary);
}

.spell-check-active {
    cursor: pointer;
    fill: #1489df;
    // stroke: #1489df;
    // fill: var(--b-active-link-color);
    // stroke: var(--b-active-link-color);
}

.pin-note-icon {
    cursor: pointer;
    fill: #c7c7c7;
}

.pinned {
    fill: var(--note-pin-fill);
    cursor: pointer;
}

.note-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // padding-left: 1rem;
    align-items: center;
}

.colour-selector {
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.menu-icon {
    // margin: 0.5rem;
    cursor: pointer;
    fill: var(--bs-secondary-color);
}

.menu-icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 10px 0 0 10px;

    // box-shadow: 0px 0px 9px 0px grey;
    border: 2px solid var(--border);
    // padding-left: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    column-gap: 0.25rem;
    background: var(--body-bg);
}

.menu-icon:hover {
    fill: var(--b-active-link-color) !important;
}

.trash-icon {
    fill: rgb(from var(--warning) r g b / 45%);
}

.trash-icon:hover {
    fill: rgb(from var(--warning) r g b / 65%) !important;
}