<ng-template #popContent>
    <strong>Title &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : </strong>&nbsp;
    {{ facadeNote?.header ? facadeNote?.header : 'Untitled' }}<br />
    <strong>Last Modified &nbsp;:</strong> &nbsp; {{ facadeNote?.date_modified | date: 'medium' }}<br />
    <strong>Date Created &nbsp; :</strong> &nbsp; {{ facadeNote?.date_created | date: 'medium' }}<br />
    <strong>Pinned &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> &nbsp;
    {{ facadeNote?.pinned ? 'Yes' : 'No' }}<br />
    <strong>Colour &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> &nbsp;
    {{ facadeNote?.colour ? facadeNote?.colour : 'none' }}<br />
    <strong>Spell Check &nbsp; &nbsp; :</strong> &nbsp; {{ facadeNote?.spell_check ? 'on' : 'off' }}<br />
    <strong>Owner &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> &nbsp; {{ facadeNote?.owner }}
</ng-template>
<div class="note-background" [ngClass]="opendNote.colour + '-note'">
    <div class="note-menu">
        <div class="note-header">
            <app-note-header-control
                #noteHeader
                [note]="opendNote"
                (noteUpdateNoteHeader)="onNoteHeaderUpdate($event)" />
        </div>

        <div class="menu-icons">
            <div
                appTooltip="Toggle Spell Check"
                [position]="tooltipPosition"
                [ngClass]="{ 'spell-check-active': facadeNote.spell_check }"
                (click)="onSpellCheckToggle(facadeNote)">
                <app-svg-icon
                    height="25"
                    width="25"
                    [class]="facadeNote.spell_check ? 'spell-check-active' : 'spell-check'"
                    src="assets/images/spell.svg" />
            </div>

            <app-note-colour-selector
                [note]="facadeNote"
                #noteColourSelector
                (noteColourUpdate)="onNoteColourUpdate($event)"
                class="menu-icon" />

            <div class="trash-icon menu-icon" (click)="onNoteArchive(opendNote)">
                <app-svg-icon height="25" width="25" src="assets/images/trash.svg" />
            </div>

            <div class="info-icon menu-icon popover-content" (click)="noteInfoClick(facadeNote)">
                <app-svg-icon height="25" width="25" src="assets/images/info.svg" />
            </div>
        </div>
    </div>

    @if (opendNote) {
        <app-textarea-expanded
            [note]="opendNote"
            [facadeNote]="facadeNote"
            #textAreaExpanded
            (textAreaSelectionChange)="onSelectionChange($event)"
            (textAreaTextChanged)="onNoteTextUpdate($event)"
            (textAreaUpdatedOpendNote)="onUpdatOpendNote($event)" />
    }

    <div class="info" (click)="noteInfoClick(facadeNote)">
        <div class="wc"><strong>Word Count: </strong>{{ getCount(facadeNote, 'word') }}</div>
        |
        <!-- <div class="wc"><strong>Line Count: </strong>{{ getCount(facadeNote, 'line') }}</div> | -->
        <div class="wc"><strong>Spell Check: </strong>{{ facadeNote?.spell_check ? 'on' : 'off' }}</div>
    </div>
</div>
