<!-- <h1>{{movieResult.movies}}</h1> -->
<!-- <h6> Page {{movieResult.page}} </h6> -->
<!-- <h1>{{movieResult.total_pages }}</h1> -->
<!-- <h1>{{movieResult.page }}</h1> -->

<ngb-pagination
    [(page)]="movieResult.page"
    [pageSize]="20"
    [maxSize]="10"
    (pageChange)="loadPage($event)"
    [collectionSize]="collectionSize"></ngb-pagination>

<div class="movie-cards-container">
    @for (movie of movieResult.movies; track movie) {
        <div>
            <!-- <app-movie-card [movie]="movie" [routerLink]="[route.url, 'dialog', movie.id]"></app-movie-card> -->
            <app-movie-card [movie]="movie" (click)="onClick(movie)"></app-movie-card>
        </div>
    }
</div>
<ngb-pagination
    [(page)]="movieResult.page"
    [pageSize]="20"
    [maxSize]="10"
    (pageChange)="loadPage($event)"
    [collectionSize]="collectionSize"></ngb-pagination>

<router-outlet></router-outlet>
