<div class="header">
    <app-pagination
        [page]="moviesResult.page"
        [pageSize]="20"
        [maxSize]="15"
        (pageChange)="loadPage($event)"
        [collectionSize]="collectionSize" />

    <select
        [value]="selectedLanguage$ | async"
        (change)="languageSelected($event)"
        [class.active]="selectedLanguage$">
        <option [value]="''">Language</option>
        @for (language of languages$ | async; track language) {
            <option
                [value]="language.iso_639_1"
                [selected]="language.iso_639_1 === (UserPreferedLanaguage | async)">
                {{ language.english_name }}&nbsp;({{ language.iso_639_1 }})
            </option>
        }
    </select>
</div>

<div class="movie-cards-container">
    @for (movie of moviesResult.movies; track movie) {
        <app-movie-card [movie]="movie" [index]="$index" (clickImage)="onClick($event)" />
    }
</div>
