<ngb-pagination
    [(page)]="movieResult.page"
    [pageSize]="20"
    [maxSize]="15"
    (pageChange)="loadPage($event)"
    [collectionSize]="collectionSize"></ngb-pagination>

<div class="movie-cards-container">
    @for (movie of movieResult.movies; track movie) {
        <div>
            <!-- <app-movie-card [movie]="movie" [routerLink]="[route.url, 'dialog', movie.id]"></app-movie-card> -->
            <app-movie-card [movie]="movie" (click)="onClick(movie)"></app-movie-card>
        </div>
    }
</div>
<ngb-pagination
    [(page)]="movieResult.page"
    [pageSize]="20"
    [maxSize]="15"
    (pageChange)="loadPage($event)"
    [collectionSize]="collectionSize"></ngb-pagination>

<router-outlet></router-outlet>
