.movie-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 30px;
    justify-content: space-around; /* prevent stretching of last row */
    background-color: var(--body-bg);
    padding: 2rem;
}

app-pagination {
    z-index: 1;
    padding: 0.1rem;
    background: var(--body-bg);
    // background: red;
    display: block;
    position: sticky;
    top: 0px;
}
