.container {
    padding: 1rem;
}

.row {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.col-10 {
    flex: 0 0 80%;
}

.label {
    flex: 0 0 20%;
}

.readonly {
    border: none;
}

.control {
    display: flex;
    column-gap: 1rem;
}

input {
    margin: 0;
}

input[type='text'],
[type='email'],
[type='password'],
[type='tel'] {
    width: 25rem;
}



input[type='text']:focus,
[type='email']:focus,
[type='password']:focus,
[type='tel']:focus {
    border-color: var(--border);
}

.invalid {
    border: 1px solid red;
}
