<div class="container">
    <app-card header="Profile">
        <form class="editForm" [formGroup]="form" (ngSubmit)="onSave()">
            <div class="row">
                <div class="label">Dark Mode</div>
                <div class="col-10">
                    <app-theme-option
                        [darkMode]="isDarkMode | async"
                        (themeToggleDark)="onDarkModeToggle()"
                        [label]=""></app-theme-option>
                </div>
            </div>
            <div class="row mb-3">
                <div class="label">User Id</div>
                <div class="col-10">
                    <input formControlName="user_id" class="form-control" type="text" readonly="true" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="label">Name</div>
                <div class="col-10">
                    <input formControlName="name" class="form-control" type="text" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="label">Email</div>
                <div class="col-10">
                    <input formControlName="email" class="form-control" type="email" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="label">Language</div>
                <div class="col-10">
                    <input formControlName="language" class="form-control" type="text" />
                </div>
            </div>
            <!-- <div class="row mb-3"> -->
            <!--     <div class="label">Dark Mode</div> -->
            <!--     <div class="col-10"> -->
            <!--         <!-1- <input formControlName="dark_mode" class="form-control" type="checkbox" /> -1-> -->
            <!--         <app-theme-option (themeToggleDark)="onDarkModeToggle()" formControlName="dark_mode"/> -->
            <!--     </div> -->
            <!-- </div> -->
            <!-- <div class="row mb-3"> -->
            <!--     <div class="label">Telephone</div> -->
            <!--     <div class="col-10"> -->
            <!--         <input class="form-control" type="tel" /> -->
            <!--     </div> -->
            <!-- </div> -->
            <!-- <div class="row mb-3"> -->
            <!--     <div class="label">Date</div> -->
            <!--     <div class="col-10"> -->
            <!--         <input class="form-control" type="text" /> -->
            <!--     </div> -->
            <!-- </div> -->
            <div class="control">
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </app-card>
</div>
