<div class="row">
  <div class="col-6 mt-3">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" name="name" type="text" [ngModel]="user.profile.given_name" >
      </div>
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control"  type="email" [ngModel]="user.profile.email">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
      <div class="col-10">
        <input class="form-control" type="tel" >
      </div>
    </div>
    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">Date</label>
      <div class="col-10">
        <input class="form-control"   type="text" >
      </div>
    </div>
  </div>
</div>
<button type="submit" class="btn btn-primary">Save</button>

<div class="row mt-4">
  <button class="btn btn-outline-primary"
    ngbPopover="You see, I show up on hover!"
    triggers="mouseenter:mouseleave"
    popoverTitle="Pop title"
    placement="right">
    Mouse Over</button>
</div>
