.active{
  color: var(--bs-primary)  ! important;
}

.fa{
  color:lightgrey;
}

.liner{
  height: 2px;
  background: var(--bs-secondary);
  position: relative;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: -1;
}

.active-liner{
  background: var(--bs-primary);
}

:host{
  width:100%;
}

.col-1
{
  max-width: none;
}
