.active {
    color: var(--b-active-link-color) !important;
}

.fa {
    color: lightgrey;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.line {
    width: 100%;
}

.liner {
    height: 2px;
    background: var(--secondary);
    position: relative;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;

    // z-index: -1;
}

.text-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 1rem;
    width: 75%;
}

.active-liner {
    background: var(--b-active-link-color);
}

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-1 {
    max-width: none;
}
