@import "./bootstrap_overrides.scss";
@import "../../custom-bootstrap/custom-bootstrap.scss";
@import "../../../../../node_modules/bootstrap/scss/bootstrap";

:root {
  --secondary: #a1a1a1;
  --border: #414141;
  --del-button-note: #484a4b;
}

.btn-outline-primary {
  color: $body-color; //hack quick fix
}
