.w {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.25rem;
}

.c {
    // border: 0.2rem solid var(--border);
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px var(--active-list-link-border-color);
}

.active {
    // border: 2px solid var(--active-list-link-border-color);
    // border: 6px solid var(--active-list-link-border-color);
    // box-shadow: 1px 1px 4px 1px;
outline: 4px solid var(--body-color);
}
