<div class="row mt-4">
    <h2>Profile Page</h2>
</div>
<div class="row mt-2">
    <ul>
      <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
      <li>Production and development builds.</li>
      <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
      <li>End-to-end tests with Protractor.</li>
      <li>Development server with live reload.</li>
      <li>TypeScript definition management using Types.</li>
      <li>Basic Service Worker, which implements "Cache then network strategy".</li>
    </ul>
</div>

<div class="row mt-4">
    <button class="btn btn-outline-primary" (click)="showDialog()"
        ngbPopover="You see, I show up on hover!"
        triggers="mouseenter:mouseleave"
        popoverTitle="Pop title"
        placement="right">
    Show Modal</button>
</div>
<!-- <a href="#" class="btn btn-primary" (click)="showDialog()"> Open Modal </a> -->
<!-- <div class="eskinder">

  <h2>
    X : {{x}}
  </h2>

  <h2>
    Y : {{y}}
  </h2>
</div> -->
