@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.card {
    margin: 10px;
    min-height: 100px;
}

.nodecoration {
    text-decoration:none;
}

.nodecoration:hover {
    color: $white;
    background-color: $primary ! important;
}
