.card {
    margin: 10px;
    min-height: 100px;
}

.nodecoration {
    text-decoration:none;
}

.nodecoration:hover {
    color: var(--bs-body-color);
    background-color: var(--bs-primary) ! important;
}
