<div class="row">

  <div class="col-lg-6">
    <div class="card" style="">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="Card image cap">
    </div>
  </div>

  <div class="col-lg-6">
    <app-ba-card header="{{ movie.title }} {{ movie.release_date | truncate: '4' : false}}">
      <!-- <h4 class="card-title" [routerLink]="['/movies/movie',movie.id]" ></h4> -->
      <div class="card-text">{{ movie.overview }}</div>
      <h4 class="card-title"></h4>
      <app-ngbd-rating-decimal [currentRate]= "movieRating"></app-ngbd-rating-decimal>
    </app-ba-card>
  </div>

</div>
