:host {
    width: 100%;
    display: block;
}

a:hover,
a:focus {
    color: white;
}

.editbox {
    border: 0px;
    padding: 0px;
    line-height: 0px;
    background: rgb(from var(--body-color) r g b / 10%);
    margin: 0;
    padding: 0.3rem;
}

.custom-control {
    padding: 0.3rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.right i {
    padding: 0.5rem;
}

.left {
    display: flex;
    align-items: center;
}
