:host {
    width: 100%;
    display: block;
}

a:hover,
a:focus {
    color: white;
}

.editbox {
    border: 0;

    // padding: 0px;
    line-height: 0px;
    background: rgb(from var(--body-color) r g b / 10%);
    margin: 0;
    padding-left: 0.3rem;
    font-size: 1rem;
}

.custom-control {
    padding: 0.3rem; /* Safari */ /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.fa {
    transition: color 1s ease;
}

.fa-bin2 {
    font-size: 1.25rem;
    cursor: pointer;
}

.fa-pencil {
    font-size: 1.25rem;
    cursor: pointer;
}

.fa-checkmark {
    font-size: 1.25rem;
    cursor: pointer;
}

.fa-bin2:hover {
    color: red;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

// .right i {
//     padding: 0.5rem;
// }

.right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.left {
    display: flex;
    align-items: center;
}

app-svg-icon {
    cursor: pointer;
    fill: var(--b-secondary);
}

.btn-archive:hover {
    fill: red;
}

.btn-edit:hover {
    fill: var(--b-active-link-color);
}
