.feather-eye {
    width: calc(var(--size) / 1.5);
    height: var(--size);
    fill: white;
    stroke: #2a6ada;
}

.feather-eye.watched {
    // fill: var(--body-bg);
    fill: grey;
    stroke: white;
}
