:host {
    background-color: var(--body-bg);
}

.make-me-sticky {
    /* parent element should also be sticky */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.movie-container {
    margin-top: 0.5rem;
}

.mov {
    display: flex;
    column-gap: 0.5rem;
}

.leftView {
    display: flex;
    flex: 0 0 25%;
}

.rightView {
    width: 100%;
}
