:host {
    background-color: var(--body-bg);
}

.make-me-sticky {
    /* parent element should also be sticky */
    position: sticky;
    top: 0;
}

.mov {
    display: flex;
    column-gap: 0.5rem;
}

.left-view {
    display: flex;
    flex: 0 0 12%;
}

.right-view {
    width: 100%;
    position:relative;

    // padding: 1rem;
}