:host {
    padding: 0rem 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    z-index: 1;
    background: var(--body-bg);
    top: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;
}

.checkbox {
    text-align: center !important;
}

.active {
    // border: 2px solid var(--bs-popover-header-bg) ! important;
    // background: var(--active-list-link-border-color) !important;
    outline: 1px solid var(--b-active-link-color) !important;
    // color: var(--bs-border-color) !important;
}

.clear-filter {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    // font-size: 1.75rem;
    // font-weight: 400;
    color: #888;
    // padding-bottom: 0.5rem;

    path {
        stroke: red;
        stroke-width: 1px;
    }
}

table {
    table-layout: fixed; // <-- Change from 'auto' to 'fixed'
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    th,
    td {
        padding: 0.75rem 1rem;
        border: 1px solid var(--border);
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    th.checkbox,
    td.checkbox {
        width: 4%; // Checkbox column
        min-width: 30px;
        max-width: 40px;
    }
    th:nth-child(2), td:nth-child(2) { width: 15%; } // Header
    th:nth-child(3), td:nth-child(3) { width: 10%; } // Owner
    th:nth-child(4), td:nth-child(4) { width: 7%; }  // Active
    th:nth-child(5), td:nth-child(5) { width: 7%; }  // Archived
    th:nth-child(6), td:nth-child(6) { width: 7%; }  // Pinned
    th:nth-child(7), td:nth-child(7) { width: 12%; } // Date Archived
    th:nth-child(8), td:nth-child(8) { width: 8%; }  // Spell Check
    th:nth-child(9), td:nth-child(9) { width: 7%; }  // Colour
    th:nth-child(10), td:nth-child(10) { width: 12%; } // Created
    th:nth-child(11), td:nth-child(11) { width: 12%; } // Last Modified

    th {
        position: sticky;
        top: 57px;
        background: var(--text-area-border);
        color: var(--body-color);
        cursor: pointer; /* Change cursor to pointer */
        user-select: none;
        z-index: 1;

        &:hover {
            background-color: var(--list-group-border-color); /* Add hover effect */
            color: var(--b-active-link-color); /* Optional: Change text color on hover */
        }

        &.sorted-asc::after,
        &.sorted-desc::after {
            content: '';
            position: absolute;
            right: 0.75rem;
            top: 54%;
            transform: translateY(-50%);
            border: 6px solid transparent;
        }

        &.sorted-asc::after {
            border-bottom-color: var(--b-active-link-color);
            top: 43%;
        }

        &.sorted-desc::after {
            border-top-color: var(--b-active-link-color);
        }

        &.sorted-asc,
        &.sorted-desc {
            color: var(--b-active-link-color);
            text-decoration: underline;
        }
    }

    tr:nth-child(even) {
        background-color: var(--bs-card-bg);
    }

    tr:hover {
        background-color: var(--active-list-link);
        cursor: pointer;
    }

    .inactive {
        opacity: 0.4;
    }

    .selected {
        opacity: 1;
        color: white;
        background: var(--btn-bg-hover-color) ! important;
    }
}

select {
    background-image:
        linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%),
        linear-gradient(to right, var(--scrollbar-thumb-color), var(--scrollbar-thumb-color));
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%),
        linear-gradient(to right, var(--primary), var(--primary));
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

select,
select:focus {
    appearance: none;
    margin: 0;
    width: 100%;
    padding: 0.5rem 4rem 0.5rem 0.75rem;
    // border: 1px solid var(--border);
    box-shadow: none;

    option {
        border: none !important;
    }
}

select:focus > option:checked {
    /* selected option */
    background: var(--bs-border-color) !important;
    // color: var(--b-active-link-color);
    color: #fff;
}

input[type='text'] {
    // padding: 0.5rem 0.75rem;
    // margin-bottom: 1rem;
}

input[type='text'] {
    // padding: 0.5rem 0.75rem;
    // margin-bottom: 1rem;
    font-size: 1rem;
    width: 250px;
    // border: 1px solid #ccc;
    border-radius: 6px;
    // box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type='checkbox'] {
    height: 1.25rem;
    width: 1.25rem;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    // margin-left: 1rem;

    input[type='text'] {
        padding: 0.5rem 2rem 0.5rem 0.75rem;
        margin: 0;
        font-size: 1rem;
        width: 250px;
        // border: 1px solid #ccc;
        border-radius: 6px;
        // box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .clear-btn {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 1.75rem;
        color: #888;
        cursor: pointer;
        padding: 0;
        line-height: 1;

        &:hover {
            color: #333;
        }
    }
}

.selection-btn {
    // background-color: var(--warning);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        // background-color: #c9302c;
    }
}
