.w {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.25rem;
}

.c {
    // border: 0.2rem solid var(--border);
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 var(--active-list-link-border-color);
}

.active {
    // border: 2px solid var(--active-list-link-border-color);
    // border: 6px solid var(--active-list-link-border-color);
    // box-shadow: 1px 1px 4px 1px;
    // outline: 4px solid var(--body-color);
    // box-shadow: inset 0 0 5px 1px var(--body-color);
    outline: 2px solid var(--note-pin-fill);
}
