<!-- <nav> -->
<!-- <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">PROFILE</a>> -->
<!-- <h2>Footer</h2> -->
<!-- </nav> -->

<!-- <footer class="footer navbar-fixed-bottom">
     <div class="container">
       Copyright 2017
     </div>
</footer> -->

<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
