:host {
    position: relative;

    // display: inline-block;
    display: flex;
    padding-right: 0.5rem;
}

/* remove bullets */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    align-content: center;

    // width: fit-content;
    color: var(--menu-color);
}

/* username */
.user-trigger {
    color: var(--menu-color);
    cursor: pointer;
    font-weight: 600;

    // padding: 0.45rem 0.75rem;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}

.user-trigger::after {
    content: '▾';
    font-size: 0.7rem;
    margin-left: 6px;
    opacity: 0.7;
}

/* dropdown */
.dropdown {
    position: absolute;

    // top: calc(100% + 6px);
    right: 0;
    color: var(--menu-color);

    // min-width: 220px;
    background: #2e2e45;

    // border-radius: 10px;
    padding: 0.4rem 0;
    box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
    z-index: 1000;

    /* hidden by default */
    opacity: 0;
    transform: translateY(1rem);
    pointer-events: none;
    transition: 0.2s ease;
}

/* show on hover */
:host:hover .dropdown {
    opacity: 1;

    // transform: translateY(0);
    pointer-events: auto;
}

/* right alignment helper */
.dropdown-right {
    color: var(--menu-color);
    right: 0;
    left: auto;
    padding: 0.5rem;
}

a {
    display: block;
    text-decoration: none;
    color: var(--menu-color);
    width: 100%;
    align-self: center;
    padding: 0 0.5rem;
}

/* logout danger */
.dropdown .btn a {
    text-decoration: none;
    color: var(--menu-color);
}

.dropdown .danger a:hover {
    // background: rgb(255 0 0 / 12%);
}

app-theme-option {
    width: max-content;

    // min-height: 3.5rem;
}
